<div class="container body-content fwui">

	<!--todo: find out where to put the following properties-->
	<!--DateCreated: new Date(), DateModified: new Date(), IsEnabled: true,-->

	<!--<div class="card actions text-xs-right">
		<button class="btn btn-outline-danger" type="button" (click)="delete()">
      <span class="glyphicon glyphicon-align-left"></span> Delete
    </button>
	</div>-->


	<div class="row">
		<div class="col-xs-12 center">
			<div class="row m-x-0">
				<label class="col-xs-4 p-x-0 controls">Type of Application: </label>
				<select name="role" class="col-xs-8 off-card" [(ngModel)]="personalApplication.ApplicationType">
            <option value="Single">Single</option>
            <option value="Joint">Joint</option>
            <option value="Coporate">Coporate</option>
        </select>
			</div>

			<!--<div class="card application-detail">
				<div class="card-block">
					<h4 class="row col-xs-12">Application Details</h4>

					<fwui-select [listName]="'test'" [listValues]="selectOptions" (valueChange)="updateSelect($event)"></fwui-select>

					<div class="btn-group" role="group" aria-label="application type">
						<button type="button" class="btn btn-secondary">Signle</button>
						<button type="button" class="btn btn-secondary">Joint</button>
					</div>

				</div>
			</div>-->

			<div class="card">
				<div class="card-block">
					<div>
						<h4 class="row col-xs-12 blue-light">Applicant's Personal Details</h4>

						<fwui-personal-detail [personalDetail]="personalApplication.Applicant" (personalDetailChange)="updateApplicantDetails($event)">
						</fwui-personal-detail>
					</div>
					<hr>

					<div>
						<h4 class="row col-xs-12 blue-light">Spouse's Personal Details</h4>

						<fwui-personal-detail [personalDetail]="personalApplication.Spouse" (personalDetailChange)="updateApplicantDetails($event)">
						</fwui-personal-detail>
					</div>

					<hr>

					<div class="address">
						<h4 class="row col-xs-12 blue-light">Address Details</h4>

						<dl>
							<div class="row">
								<dt class="col-xs-4 p-x-0 controls">Residential Type: (select)</dt>
								<dd class="col-xs-8">
									<select name="role" class="full-length" [(ngModel)]="personalApplication.CurrentAddressType">
									<option value="Own Home">Own Home</option>
									<option value="Own Home">Renting</option>
									<option value="Own Home">Boarding</option>
									<option value="Own Home">Family House</option>
								</select>
								</dd>
							</div>
						</dl>

						<fwui-address-finder></fwui-address-finder>

						<dl>
							<div class="row">
								<dt class="col-xs-4 p-x-0 controls">Current Home: (select)</dt>
								<dd class="col-xs-8">
									<input class="controls" placeholder="Home Type" (ngModelChange)="bankDetailsChanged = true" type="text">
									<input class="controls" placeholder="Other Home Type" (ngModelChange)="bankDetailsChanged = true" type="text">
								</dd>
							</div>

							<div class="row">
								<dt class="col-xs-4 p-x-0 controls">Address Detail</dt>
								<dd class="col-xs-8">
									<input class="controls" placeholder="Home Type" (ngModelChange)="bankDetailsChanged = true" type="text">
									<input class="controls" placeholder="Other Home Type" (ngModelChange)="bankDetailsChanged = true" type="text">
								</dd>
							</div>

						</dl>
					</div>

					<!--<div class="card previous address">
				<div class="card-block">
					<h4 class="row col-xs-12">Applicant's Previous Address</h4>

				</div>
			</div>-->

					<div class="card spouse current address">
						<div class="card-block">
							<h4 class="row col-xs-12">Spouse's Previous Address</h4>

						</div>
					</div>

					<div class="occupation">

						<h4 class="row col-xs-12">Applicant's Occupation Details</h4>

						<fwui-personal-occupation></fwui-personal-occupation>
						<!--<dl>
						<div class="row">
							<dt class="col-xs-4 p-x-0 controls">Current Employer</dt>
							<dd class="col-xs-8">
								<input class="controls" placeholder="Current Employer" (ngModelChange)="bankDetailsChanged = true" type="text">
							</dd>
						</div>

						<div class="row">
							<dt class="col-xs-4 p-x-0 controls">Occupation</dt>
							<dd class="col-xs-8">
								<input class="controls" placeholder="Occupation" (ngModelChange)="bankDetailsChanged = true" type="text">
							</dd>
						</div>

						<div class="row">
							<dt class="col-xs-4 p-x-0 controls">Previous Employer</dt>
							<dd class="col-xs-8">
								<input class="controls" placeholder="Previous Employer" (ngModelChange)="bankDetailsChanged = true" type="text">
							</dd>
						</div>

						<div class="row">
							<dt class="col-xs-4 p-x-0 controls">Previous Occupation</dt>
							<dd class="col-xs-8">
								<input class="controls" placeholder="Previous Occupation" (ngModelChange)="bankDetailsChanged = true" type="text">
							</dd>
						</div>

						<div class="row">
							<dt class="col-xs-4 p-x-0 controls">Years</dt>
							<dd class="col-xs-8">
								<input class="controls" placeholder="Years" (ngModelChange)="bankDetailsChanged = true" type="text">
							</dd>
						</div>

						<div class="row">
							<dt class="col-xs-4 p-x-0 controls">Months</dt>
							<dd class="col-xs-8">
								<input class="controls" placeholder="Months" (ngModelChange)="bankDetailsChanged = true" type="text">
							</dd>
						</div>
					</dl>-->


					</div>

					<!--<div class="card occupation">
				<div class="card-block">
					<h4 class="row col-xs-12">Spouse's Occupation Details</h4>

				</div>
			</div>-->

					<!--<div class="references">
						<div class="card-block col-md-6">
							<h4 class="row col-xs-12">References</h4>
							<dl>
								<div class="row">
									<dt class="col-xs-4 p-x-0 controls">Name</dt>
									<dd class="col-xs-8">
										<input class="controls" placeholder="Name" [value]="personalApplication.Reference.Name" type="text">
									</dd>
								</div>

								<div class="row">
									<dt class="col-xs-4 p-x-0 controls">Relationship</dt>
									<dd class="col-xs-8">
										<input class="controls" placeholder="Relationship" [value]="personalApplication.Reference.Relationship" type="text">
									</dd>
								</div>

								<div class="row">
									<dt class="col-xs-4 p-x-0 controls">Phone</dt>
									<dd class="col-xs-8">
										<input class="controls" placeholder="Phone" [value]="personalApplication.Reference.Phone" type="text">
									</dd>
								</div>

							

							</dl>

						</div>
					</div>-->

					<!--<div class="card acount references">
				<div class="card-block">
					<h4 class="row col-xs-12">Account References</h4>

					<dl>
						<div class="row">
							<dt class="col-xs-4 p-x-0 controls">Name</dt>
							<dd class="col-xs-8">
								<input class="controls" placeholder="Name" [(ngModel)]="personalApplication.Reference.Name" type="text">
							</dd>
						</div>

						<div class="row">
							<dt class="col-xs-4 p-x-0 controls">Bankers</dt>
							<dd class="col-xs-8">
								<input class="controls" placeholder="Banker" (ngModelChange)="personalApplication.Reference.Banker" type="text">
							</dd>
						</div>

						<div class="row">
							<dt class="col-xs-4 p-x-0 controls">Account No.</dt>
							<dd class="col-xs-8">
								<input class="controls" placeholder="Banker" (ngModelChange)="personalApplication.Reference.AccountNum" type="text">
							</dd>
						</div>

					</dl>

				</div>
			</div>-->

					<fwui-personal-financial-details [assets]="personalApplication.Assets" [liabilities]="personalApplication.Liabilities" [income]="personalApplication.Income"
						[expenses]="personalApplication.Expenses">
					</fwui-personal-financial-details>

				</div>
			</div>
		</div>

	</div>

</div>