<div class="container body-content fwui">
	<div class="row">
		<div class="col-xs-12 center">
			<div class="card">
				<div class="card-block">
					<div class="row">
						<label class="col-xs-4 controls">Type of Application: </label>
						<dd class="col-xs-8">
							<select name="role" class="" [(ngModel)]="personalApplication.ApplicationType">
								<option value="Single">Single</option>
								<option value="Joint">Joint</option>
								<option value="Coporate">Coporate</option>
							</select>
						</dd>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-block">
					<h4 class="row col-xs-12 blue-light">Personal Details</h4>
					<div class="row">
						<label class="col-xs-4 pl-1 controls">Loan Type: </label>
						<dd class="col-xs-8">
							<select name="role" class="" [(ngModel)]="personalApplication.LoanType">
								<option value="Personal">Personal</option>
								<option value="Business">Business</option>
							</select>
						</dd>
					</div>
					<div class="row">
						<label class="col-xs-4 controls">Client/Company Name</label>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="clientName" placeholder="Client Name" 
							 	[(ngModel)]="personalApplication.ClientName">
						</dd>
					</div>
				</div>
			</div>

			<fwui-personal-detail [title]="'Applicant\'s Personal Details'" [personalDetail]="personalApplication.Applicant" 
				(personalDetailChange)="updateApplicantDetails($event)">
			</fwui-personal-detail>

			<fwui-personal-detail *ngIf="spouceDisplayed()" [title]="'Spouse\'s Personal Details'" 
				[personalDetail]="personalApplication.Spouse" (personalDetailChange)="updateApplicantDetails($event)">
			</fwui-personal-detail>

			<div class="card">
				<div class="card-block">
					<!--todo: add button to add more references-->
					<div class="personal-reference">
							<h4 class="row col-xs-12 blue-light">References</h4>
							<div *ngFor="let reference of personalApplication.Applicant.References; let i = index;">
							<fwui-personal-reference-detail [referenceDetail]="reference" 
								(referenceDetailChange)="updateApplicantReference(i, $event)">
							</fwui-personal-reference-detail>
							</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-block">
					<!--todo: add button to add more account references-->
					<div class="personal-account-reference">
							<h4 class="row col-xs-12 blue-light">Account References</h4>
							<div *ngFor="let accountReference of personalApplication.Applicant.AccountReferences; let i = index;">
							<fwui-personal-account-reference-detail [accountReferenceDetail]="accountReference"
								(accountReferenceDetailChange)="updateApplicantAccountReference(i, $event)">
							</fwui-personal-account-reference-detail>
							</div>
					</div>

				</div>
			</div>

			<div class="card">
				<div class="card-block">
					<div class="row">
						<div class="col-xs-10">
							<h4 class="blue-light">Financials</h4>
						</div>
						<div class="col-xs-2">
							<button class="btn btn-secondary" *ngIf="!expandedFinancials" (click)="toggleExpandedFinancials()">Show</button>
							<button class="btn btn-secondary" *ngIf="expandedFinancials" (click)="toggleExpandedFinancials()">Hide</button>
						</div>
					</div>
					<fwui-personal-financial-details 
						[assets]="personalApplication.Assets" 
						[liabilities]="personalApplication.Liabilities" 
						[income]="personalApplication.Income"
						[expenses]="personalApplication.Expenses"
						*ngIf="expandedFinancials">
					</fwui-personal-financial-details>
				</div>
			</div>
		</div>
	</div>
</div>