<div class="personal-financial-details">
  <div class="assets col-xs-6">
    <h4 class="row col-xs-12">Assets</h4>
    <dl>
      <div class="row" *ngFor="let property of assets; let i = index;">
        <dt class="col-xs-4 p-x-0">
          <input class="controls option-name" placeholder="Asset Name" [value]="property.OptionName" type="text">
        </dt>
        <dd class="col-xs-5">
          <input class="controls" placeholder="Notes" [value]="property.Note" type="text">
        </dd>

        <dd class="col-xs-3">
          <input class="controls" placeholder="$" [value]="property.Value" type="number">
        </dd>
      </div>

      <button class="add-item" (click)="addAsset()">Add Asset</button>

      <div class="row">
        <dt class="col-xs-4 p-x-0 controls">Total</dt>
        <dd class="col-xs-8">
          <input class="controls" placeholder="Dollar Value" type="text">
        </dd>
      </div>

    </dl>
  </div>

  <div class="liabilities col-xs-6">
    <h4 class="row col-xs-12">Liabilities</h4>
    <dl>
      <div class="row" *ngFor="let property of liabilities; let i = index;">
        <dt class="col-xs-4 p-x-0">
          <input class="controls option-name" placeholder="Asset Name" [value]="property.OptionName" type="text">
        </dt>
        <dd class="col-xs-5">
          <input class="controls" placeholder="Notes" [value]="property.Note" type="text">
        </dd>

        <dd class="col-xs-3">
          <input class="controls" placeholder="$" [value]="property.Value" type="number">
        </dd>
      </div>

      <button class="add-item" (click)="addLiability()">Add Liability</button>

      <div class="row">
        <dt class="col-xs-4 p-x-0 controls">Total</dt>
        <dd class="col-xs-8">
          <input class="controls" placeholder="Dollar Value" type="text">
        </dd>
      </div>
    </dl>
  </div>

  <hr>
  <div class="col-xs-12">
    <h3 class="net-worth">Net Worth: <span>{{NetWorth}}</span></h3>
  </div>

  <div class="income col-xs-6">
    <h4 class="row col-xs-12">Income (Monthly)</h4>
    <dl>
      <div class="row" *ngFor="let property of income; let i = index;">
        <dt class="col-xs-4 p-x-0">
          <input class="controls option-name" placeholder="Asset Name" [value]="property.OptionName" type="text">
        </dt>
        <dd class="col-xs-5">
          <input class="controls" placeholder="Notes" [value]="property.Note" type="text">
        </dd>

        <dd class="col-xs-3">
          <input class="controls" placeholder="$" [value]="property.Value" type="number">
        </dd>
      </div>

      <button class="add-item" (click)="addIncome()">Add Income</button>

      <div class="row">
        <dt class="col-xs-4 p-x-0 controls">Total</dt>
        <dd class="col-xs-8">
          <input class="controls" placeholder="Dollar Value" type="text">
        </dd>
      </div>

    </dl>
  </div>

  <div class="expenses col-xs-6">
    <h4 class="row col-xs-12">Expenses</h4>
    <dl>
      <div class="row" *ngFor="let property of expenses; let i = index;">
        <dt class="col-xs-4 p-x-0">
          <input class="controls option-name" placeholder="Asset Name" [value]="property.OptionName" type="text">
        </dt>
        <dd class="col-xs-5">
          <input class="controls" placeholder="Notes" [value]="property.Note" type="text">
        </dd>

        <dd class="col-xs-3">
          <input class="controls" placeholder="$" [value]="property.Value" type="number">
        </dd>
      </div>

      <button class="add-item" (click)="addExpense()">Add Expense</button>

      <div class="row">
        <dt class="col-xs-4 p-x-0 controls">Total</dt>
        <dd class="col-xs-8">
          <input class="controls" placeholder="Dollar Value" type="text">
        </dd>
      </div>
    </dl>
  </div>

  <div class="col-xs-12">
    <h3 class="disposable-income">Disposable Income: <span>{{DisposableIncome}}</span></h3>
  </div>
</div>