<div class="personal-financial-details">
  <div class="assets row">
    <div class="col-xs-12">
      <h4>Assets</h4>
      <dl>
        <div class="row" *ngFor="let property of assets; let i = index;">
          <dt class="col-xs-3 p-x-0">
            <input class="controls option-name" placeholder="Asset Name" [value]="property.OptionName" (blur)="updateAssetsOptionName(i, $event)"
             (keypress)="assetOnKeypress($event)" type="text">
          </dt>
          <dd class="col-xs-6">
            <input class="controls" placeholder="Notes" [value]="property.Note" (blur)="updateAssetsNote(i, $event)" type="text"
            (keypress)="assetOnKeypress($event)">
          </dd>

          <dd class="col-xs-2 px-0">
            <input class="controls" placeholder="$" [value]="property.Value" (blur)="updateAssetsValue(i, $event)" type="number"
            (keypress)="assetOnKeypress($event)">
          </dd>

          <dd class="col-xs-1 px-0">
            <button class="btn btn-link" (click)="removeAsset(i)">Remove</button>
          </dd>
        </div>

        <div class="row">          
          <dd class="offset-xs-3 col-xs-7">
            <button class="add-item" (click)="addAsset()">Add Asset</button>
          </dd>
          <dd class="col-xs-2 px-0">
            <label class="controls">{{assetsTotal | currency:'USD':true}}</label>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="liabilities row">
    <div class="col-xs-12">
      <h4>Liabilities</h4>
      <dl>
        <div class="row" *ngFor="let property of liabilities; let i = index;">
          <dt class="col-xs-3 p-x-0">
            <input class="controls option-name" placeholder="Asset Name" [value]="property.OptionName" (blur)="updateLiabilitiesOptionName(i, $event)"
              type="text" (keypress)="liabilityOnKeypress($event)">
          </dt>
          <dd class="col-xs-6">
            <input class="controls" placeholder="Notes" [value]="property.Note" (blur)="updateLiabilitiesNote(i, $event)" type="text"
             (keypress)="liabilityOnKeypress($event)">
          </dd>

          <dd class="col-xs-2 px-0">
            <input class="controls" placeholder="$" [value]="property.Value" (blur)="updateLiabilitiesValue(i, $event)" type="number"
             (keypress)="liabilityOnKeypress($event)">
          </dd>

          <dd class="col-xs-1 px-0">
            <button class="btn btn-link" (click)="removeLiability(i)">Remove</button>
          </dd>
        </div>

        <div class="row">          
          <dd class="offset-xs-3 col-xs-7">
            <button class="add-item" (click)="addLiability()">Add Liability</button>
          </dd>
          <dd class="col-xs-2 px-0">
            <label class="controls">{{liabilitiesTotal | currency:'USD':true}}</label>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3 class="net-worth">Net Worth: <span> {{netWorth | currency:'USD':true}}</span></h3>
    </div>
  </div>

  <div class="income row">
    <div class="col-xs-12">
      <h4>Income (Monthly)</h4>
      <dl>
        <div class="row" *ngFor="let property of income; let i = index;">
          <dt class="col-xs-3 p-x-0">
            <input class="controls option-name" placeholder="Asset Name" [value]="property.OptionName" (blur)="updateIncomeOptionName(i, $event)"
              type="text" (keypress)="incomeOnKeypress($event)">
          </dt>
          <dd class="col-xs-6">
            <input class="controls" placeholder="Notes" [value]="property.Note" (blur)="updateIncomeNote(i, $event)" type="text"
             (keypress)="incomeOnKeypress($event)">
          </dd>

          <dd class="col-xs-2 px-0">
            <input class="controls" placeholder="$" [value]="property.Value" (blur)="updateIncomeValue(i, $event)" type="number"
             (keypress)="incomeOnKeypress($event)">
          </dd>

          <dd class="col-xs-1 px-0">
            <button class="btn btn-link" (click)="removeIncome(i)">Remove</button>
          </dd>
        </div>

        <div class="row">          
          <dd class="offset-xs-3 col-xs-7">
            <button class="add-item" (click)="addIncome()">Add Income</button>
          </dd>
          <dd class="col-xs-2 px-0">
            <label class="controls">{{incomeTotal | currency:'USD':true}}</label>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="expenses row">
    <div class="col-xs-12">
      <h4>Expenses</h4>
      <dl>
        <div class="row" *ngFor="let property of expenses; let i = index;">
          <dt class="col-xs-3 p-x-0">
            <input class="controls option-name" placeholder="Asset Name" [value]="property.OptionName" (blur)="updateExpensesOptionName(i, $event)"
              type="text" (keypress)="expensesOnKeypress($event)">
          </dt>
          <dd class="col-xs-6">
            <input class="controls" placeholder="Notes" [value]="property.Note" (blur)="updateExpensesNote(i, $event)" type="text" 
              (keypress)="expensesOnKeypress($event)">
          </dd>

          <dd class="col-xs-2 px-0">
            <input class="controls" placeholder="$" [value]="property.Value" (blur)="updateExpensesValue(i, $event)" type="number"
             (keypress)="expensesOnKeypress($event)">
          </dd>

          <dd class="col-xs-1 px-0">
            <button class="btn btn-link" (click)="removeExpense(i)">Remove</button>
          </dd>
        </div>

        <div class="row">          
          <dd class="offset-xs-3 col-xs-7">
            <button class="add-item" (click)="addExpense()">Add Expense</button>
          </dd>
          <dd class="col-xs-2 px-0">
            <label class="controls">{{expensesTotal | currency:'USD':true}}</label>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3 class="disposable-income">Disposable Income: <span>{{disposableIncome | currency:'USD':true}}</span></h3>
    </div>
  </div>
</div>