@import '../../../../assets/styles/main';

.personal-financial-details {
  width: 100%;
  padding: 1.25em;

  input.option-name {
    color: $normal-content-color;
  }

  button.add-item {
    // width: 100%;
    height: 2em;
    background-color: $highlight-color;
    border: none;
    color: white;
    margin: 1em 0 1em 0;
  }

  h3.net-worth, h3.disposable-income {
    text-align: center;
    margin: 1em 0 2em 0;

    span {
      color: $highlight-color;
      font-size: 1.5em;
    }
  }
}