<div class="container body-content fwui">
  <div class="row">
    <div class="col-md-12">
      <div class="actions">

        <!--todo: make the search query only fires after 300 to 400 milliseconds-->

        <!--<div class="search">
          <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="searchFinanceCompany(searchQuery)" class="form-control" placeholder="Finance company name">
        </div>-->

        <div class="buttons text-md-right">
          <button type="button" class="btn btn-success" (click)="addFinanceCompany()">
            <i name="add" class="icon icon-plus">
              <img src="assets/images/icons/ic_add_white_24px.svg">
            </i>
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Add Finance Company
          </button>
        </div>

      </div>
    </div>
  </div>

  <datatable
    class='material'
    [rows]='rows'
    [options]='options'
    (onSelectionChange)='onSelectionChange($event)'
    (onPageChange)='onPageChange($event)'>
  </datatable>

</div>