.actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  .search {
    width: 100%
  }

  .buttons {
    margin-left: 1em; 

    i img {
      margin-top: -3px;
    }
  }
}