<div class="container body-content fwui">  
  <h1>Motorcycle Form</h1>

  <div class="card actions text-xs-right">
    <button class="btn btn-outline-danger" type="button" (click)="delete()" *ngIf="!isNewForm">
			<i class="glyphicon glyphicon-align-left"></i> Delete
		</button>
    <button class="btn btn-link" type="button" (click)="backToPersonalApplicaiton()">
			<i class="glyphicon glyphicon-align-left"></i> Back
		</button>
    <button class="btn btn-success" type="button" (click)="save()">
			<i class="glyphicon glyphicon-align-left"></i> Save
		</button>
  </div>

  <div class="row">
    <div class="col-xs-12 center">
      <div class="card">
        <div class="card-block">
          <fwui-vendor-detail [vendorDetail]="motorcycleForm.Vendor">
          </fwui-vendor-detail>

          <div *ngFor="let financedMotorcycle of motorcycleForm.FiancedMotorcycles; let i = index;">
            <fwui-financing-motorcycle-detail [motorcycleDetail]="financedMotorcycle">
            </fwui-financing-motorcycle-detail>
          </div>

          <div *ngFor="let tradeInMotorcycle of motorcycleForm.TradeInMotorcycles; let i = index;">
            <fwui-trade-motorcycle-detail [tradeMotorcycleDetail]="tradeInMotorcycle">
            </fwui-trade-motorcycle-detail>
          </div>

          <fwui-transport-financial-details [financialDetail]="motorcycleForm.FinancialDetail">
          </fwui-transport-financial-details>
        </div>
      </div>
    </div>
  </div>
</div>