<div class="container body-content fwui">
  <div class="row">
    <div class="card">
      <div class="card-block">
        <fwui-vendor-detail [vendorDetail]="motorcycleForm.Vendor" (vendorDetailChange)="updateMotorcycleForm($event)">
        </fwui-vendor-detail>

        <div *ngFor="let financedMotorcycle of motorcycleForm.FiancedMotorcycles; let i = index;">
          <fwui-financing-motorcycle-detail [motorcycleDetail]="financedMotorcycle" 
                                        (motorcycleDetailChange)="updateMotorcycleForm($event)">
          </fwui-financing-motorcycle-detail>
        </div>

        <div *ngFor="let tradeInMotorcycle of motorcycleForm.TradeInMotorcycles; let i = index;">
          <fwui-trade-motorcycle-detail [tradeMotorcycleDetail]="tradeInMotorcycle" 
                                   (tradeMotorcycleChange)="updateMotorcycleForm($event)">
          </fwui-trade-motorcycle-detail>
        </div>

        <fwui-transport-financial-details [financialDetail]="motorcycleForm.FinancialDetail" (financialDetailChange)="updateMotorcycleForm($event)">
        </fwui-transport-financial-details>

      </div>
    </div>
  </div>
</div>