.dropdown {

  .scroll-mask {
    position: fixed;
    background-color: black;
    opacity: 0.8;
    // transparent
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;

    // .md-scroll-mask-bar {
    //   display: block;
    //   position: absolute;
    //   background-color: #fafafa;
    //   right: 0;
    //   top: 0;
    //   bottom: 0;
    //   z-index: 65;
    //   box-shadow: inset 0 0 1px rgba(0,0,0,.3);
    // }
  }

  .select-input {
    min-width: 200px;
    display: inline-block;

    i {
      margin-left: -18px;
    }
  }

  ul.dropdown-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    max-height: 256px;
    min-height: 48px;
    overflow-y: hidden;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1);
    transform: scale(1);

    min-width: 136px;
    min-height: 48px;
    max-height: 256px;
    overflow-y: auto;

    li {
      list-style: none;
    }

  }
}