<div class="container body-content fwui">

  <!--todo: find out where to put the following properties-->
  <!--DateCreated: new Date(), DateModified: new Date(), IsEnabled: true,-->
  <button class="btn btn-success" type="button" (click)="save()">
    <span class="glyphicon glyphicon-align-left"></span> Save
  </button>
  <button class="btn btn-success" type="button" (click)="delete()">
    <span class="glyphicon glyphicon-align-left"></span> Delete
  </button>

  <div class="row">
    <div class="col-xs-5">
      <div class="card basic-info">
        <div class="card-block">
          <div class="media col-xs-4 card-block">
            <img alt="" class="img-rounded" src="assets/images/icons/ic_business_48pt_3x.png">
          </div>
          <div class="col-xs-8">
            <!--<div class="media-body">-->
              <!--<div class="uiEditableControls">-->
              <div class="row">
                <input class="name" [(ngModel)]="customer.FirstName" type="text" placeholder="First Name" required>
                <input class="name" [(ngModel)]="customer.LastName" type="text" placeholder="Last Name" required>
              </div>
              <div class="row">
                <input class="email" [(ngModel)]="customer.Email" type="email" placeholder="Email" required>
              </div>
              <!--<p>
                <a target="_blank" [href]="customer.Website">
                  <i name="globe" class="icon icon-globe"></i>
                </a>
                <span>
                    <a aria-labelledby="" 
                      contenteditable="true" role="textbox" 
                      tabindex="0" title="Email"
                      [textContent]="customer.Email"></a>
                  </span>
              </p>-->
            <!--</div>-->
            <div class="row">
              <span class="tag tag-pill tag-success">Active</span>
            </div>
          </div>
        </div>
      </div>

      <div class="card contact-details col-xs-12">
        <div class="card-block">
          <dl>
            <div class="row">
              <dt class="col-xs-4 p-x-0">Mobile</dt>
              <dd class="col-xs-8">
                <input class="country" [(ngModel)]=customer.CellCountry type="text">
                <input class="area" [(ngModel)]=customer.CellArea type="text">
                <input class="number" [(ngModel)]=customer.CellNumber type="text">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0">Phone</dt>
              <dd class="col-xs-8">
                <input class="country" [(ngModel)]=customer.PhoneCountry type="text">
                <input class="area" [(ngModel)]=customer.PhoneArea type="text">
                <input class="number" [(ngModel)]=customer.PhoneNumber type="text">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0">Fax</dt>
              <dd class="col-xs-8">
                <input class="country" [(ngModel)]=customer.FaxCountry type="text">
                <input class="area" [(ngModel)]=customer.FaxArea type="text">
                <input class="number" [(ngModel)]=customer.FaxNumber type="text">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0">Customer Number</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]=customer.Number type="text">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0">Skype</dt>
              <dd class="col-xs-8"> 
                <input [(ngModel)]=customer.SkypeName type="text">
              </dd>
            </div>
          </dl>
        </div>
      </div>


      <fwui-customer-deals [deals]="deals" [customerId]="customer.Id"></fwui-customer-deals>


      <div class="card bank-details">
        <div class="card-block">
          <h4 class="row col-xs-12 text-xs-center">Bank Details</h4>
          <dl>
            <div class="row">
              <dt class="col-xs-4 p-x-0">Account Name</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]=customer.BankAccountName type="text">
              </dd>
            </div>
            <div class="row">
              <dt class="col-xs-4 p-x-0">Account Number</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="customer.BankAccountNumber" type="text">
              </dd>
            </div>
            <div class="row">
              <dt class="col-xs-4 p-x-0">Branch Name</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="customer.BankBranchName" type="text">
              </dd>
            </div>
            <div class="row">
              <dt class="col-xs-4 p-x-0">Bank Name</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="customer.BankingCompany" type="text">
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div *ngFor="let address of customer.Addresses" class="card address-details">
        <div class="card-block">
          <span *ngIf="address.IsDefault" class="tag tag-pill tag-success">Default</span>
          <dl>
            <div>
              <dt>
                Name
              </dt>
              <input [(ngModel)]="address.Name" type="text">
              <dd>
              </dd>
            </div>

            <div>
              <dt>
                Address Line 1
              </dt>
              <input [(ngModel)]="address.AddressLine1" type="text">
              <dd>
              </dd>
            </div>

            <div>
              <dt>
                Region
              </dt>
              <input [(ngModel)]="address.Region" type="text">
              <dd>
              </dd>
            </div>

            <div>
              <dt>
                City
              </dt>
              <input [(ngModel)]="address.City" type="text">
              <dd>
              </dd>
            </div>

            <div>
              <dt>
                Postcode
              </dt>
              <input [(ngModel)]="address.Postcode" type="text">
              <dd>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <div class="col-xs-7">
      <!--<div class="editor">
        <textarea class="note" id="test" [(ngModel)]="note"></textarea>
      </div>-->

      <!--[tinymce]="tinymce"-->
      <textarea class="note col-xs-12" id="my-note" [(ngModel)]="note"></textarea>

      <!--<span>The note content is: {{note}}</span>-->
      <button class="btn btn-success" type="button" (click)="addNote(note)">
        <span class="glyphicon glyphicon-align-left"></span> Save
      </button>

      <div class="history">
        <fwui-time-line [notes]="notes" [myText]="myText"></fwui-time-line>
      </div>
    </div>
  </div>

</div>