<div class="container body-content fwui">

  <!--todo: find out where to put the following properties-->
  <!--DateCreated: new Date(), DateModified: new Date(), IsEnabled: true,-->

  <div class="card actions text-xs-right">
    <button class="btn btn-outline-danger" type="button" (click)="delete()">
      <span class="glyphicon glyphicon-align-left"></span> Delete
    </button>
  </div>


  <div class="row">
    <div class="col-xs-5">
      <div class="card basic-info">
        <div class="card-block">
          <div class="media col-xs-4 card-block">
            <img alt="" class="img-rounded" src="assets/images/icons/ic_person_black_216x216.png">
          </div>
          <div class="col-xs-8">
            <div class="row">
              <input class="name controls" [(ngModel)]="customer.FirstName" 
                     (ngModelChange)="basicInfoChanged = true"
                     type="text" placeholder="First Name" required>
              <input class="name controls" [(ngModel)]="customer.LastName" 
                     (ngModelChange)="basicInfoChanged = true"
                     type="text" placeholder="Last Name" required>
            </div>
            <div class="row">
              <input class="email controls" [(ngModel)]="customer.Email" 
                     (ngModelChange)="basicInfoChanged = true"
                     type="email" placeholder="Email" required>
            </div>
            <div class="row">
              <span class="tag tag-pill tag-success">Active</span>
            </div>
          </div>
        </div>

        <div *ngIf="basicInfoChanged" class="actions text-xs-center">
          <button type="button" class="btn btn-success" (click)="save()">Save</button>
          <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        </div>
      </div>

      <fwui-customer-deals [deals]="deals" 
          [customerId]="customer.Id" 
          [customerName]="customer.FirstName + ' ' + customer.LastName">
      </fwui-customer-deals>

      <div class="card contact-details">
        <div class="card-block">
          <h4 class="row col-xs-12">Contact Details</h4>
          <dl>
            <div class="row">
              <dt class="col-xs-4 p-x-0">Mobile</dt>
              <dd class="col-xs-8">
                <input class="controls" [(ngModel)]=customer.CellNumber 
                       placeholder="Numer" (ngModelChange)="contactDetailsChanged = true" type="text">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0">Phone</dt>
              <dd class="col-xs-8">
                <input class="controls" [(ngModel)]=customer.PhoneNumber 
                       placeholder="Numer" (ngModelChange)="contactDetailsChanged = true" type="text">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0">Fax</dt>
              <dd class="col-xs-8">
                <input class="controls" [(ngModel)]=customer.FaxNumber 
                       placeholder="Numer" (ngModelChange)="contactDetailsChanged = true" type="text">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0">Customer Number</dt>
              <dd class="col-xs-8">
                <input class="controls" [(ngModel)]=customer.Number (ngModelChange)="contactDetailsChanged = true" 
                       placeholder="Customer Number" type="text">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0">Skype</dt>
              <dd class="col-xs-8">
                <input class="controls" [(ngModel)]=customer.SkypeName 
                       placeholder="Skype" (ngModelChange)="contactDetailsChanged = true" type="text">
              </dd>
            </div>
          </dl>
        </div>

        <div *ngIf="contactDetailsChanged" class="actions text-xs-center">
          <button type="button" class="btn btn-success" (click)="save()">Save</button>
          <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        </div>
      </div>

      <div class="card bank-details">
        <div class="card-block">
          <h4 class="row col-xs-12">Bank Details</h4>
          <dl>
            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Account Name</dt>
              <dd class="col-xs-8">
                <input class="controls" [(ngModel)]=customer.BankAccountName 
                       placeholder="Account Name" (ngModelChange)="bankDetailsChanged = true" type="text">
              </dd>
            </div>
            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Account Number</dt>
              <dd class="col-xs-8">
                <input class="controls" [(ngModel)]="customer.BankAccountNumber" 
                       placeholder="Account Number" (ngModelChange)="bankDetailsChanged = true" type="text">
              </dd>
            </div>
            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Branch Name</dt>
              <dd class="col-xs-8">
                <input class="controls" [(ngModel)]="customer.BankBranchName" 
                       placeholder="Branch Name" (ngModelChange)="bankDetailsChanged = true" type="text">
              </dd>
            </div>
            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Bank Name</dt>
              <dd class="col-xs-8">
                <input class="controls" [(ngModel)]="customer.BankingCompany" 
                       placeholder="Bank Name" (ngModelChange)="bankDetailsChanged = true" type="text">
              </dd>
            </div>
          </dl>
        </div>
        <div *ngIf="bankDetailsChanged" class="actions text-xs-center">
          <button type="button" class="btn btn-success" (click)="save()">Save</button>
          <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        </div>
      </div>

      <div *ngFor="let address of customer.Addresses" class="card address-details">
        <div class="card-block">
          <span *ngIf="address.IsDefault" class="tag tag-pill tag-success">Default</span>
          <dl>
            <div>
              <dt>
                Name
              </dt>
              <input [(ngModel)]="address.Name" type="text">
              <dd>
              </dd>
            </div>

            <div>
              <dt>
                Address Line 1
              </dt>
              <input [(ngModel)]="address.AddressLine1" type="text">
              <dd>
              </dd>
            </div>

            <div>
              <dt>
                Region
              </dt>
              <input [(ngModel)]="address.Region" type="text">
              <dd>
              </dd>
            </div>

            <div>
              <dt>
                City
              </dt>
              <input [(ngModel)]="address.City" type="text">
              <dd>
              </dd>
            </div>

            <div>
              <dt>
                Postcode
              </dt>
              <input [(ngModel)]="address.Postcode" type="text">
              <dd>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <div class="col-xs-7">
      <!--<div class="editor">
        <textarea class="note" id="test" [(ngModel)]="note"></textarea>
      </div>-->

      <!--[tinymce]="tinymce"-->

      <div class="column">
        <textarea class="note col-xs-12" id="my-note" [(ngModel)]="note"
                  (ngModelChange)="noteChanged = true" 
                  placeholder="Write notes here" 
                  rows="6">
        </textarea>

        <!--<span>The note content is: {{note}}</span>-->
        <div *ngIf="noteChanged" class="actions text-xs-center col-xs-12">
          <button class="btn btn-success" type="button" (click)="addNote(note)">
            <span class="glyphicon glyphicon-align-left"></span> Save
          </button>
          <button type="button" class="btn btn-default" (click)="clearNote()">Cancel</button>
        </div>

      </div>
      <div class="history">
        <fwui-time-line [notes]="notes" [myText]="myText"></fwui-time-line>
      </div>
    </div>
  </div>

</div>