<div class="trade-vehicle-detail">
  <div class="">
			<label>Year</label>
			<input class="controls" type="text" name="year" placeholder="Year" [(ngModel)]="tradeVehicle.year">

			<label>Make & Model</label>
			<input class="controls" type="text" name="makeAndModel" placeholder="Make and Model" [(ngModel)]="tradeVehicle.makeAndModel">

      <label>Registration</label>
      <input class="controls" type="text" name="Registration" placeholder="Registration No." [(ngModel)]="tradeVehicle.registration">

      <label>Milage</label>
      <input type="radio" name="KM" value="Yes" checked> KM<br>
      <input type="radio" name="MLS" value="No"> MLS<br>
      <input class="controls" type="text" name="milage" placeholder="Milage" [(ngModel)]="tradeVehicle.milage">

      <label>Trade Value</label>
			<input class="controls" type="number" name="tradeValue" placeholder="Dollar Value" [(ngModel)]="tradeVehicle.tradeValue">

      <label>Settlement To</label>
      <input class="controls" type="text" name="settlementTo" placeholder="Finance Company Name" [(ngModel)]="tradeVehicle.settlementTo">
		</div>

		<div class="">
      <label>Balances</label>
      <input class="controls" type="number" name="balances" placeholder="Dollar Value" [(ngModel)]="tradeVehicle.balances">

      <label>Valid To</label>
      <input class="controls" type="text" name="validTo" placeholder="Dollar Value" [(ngModel)]="tradeVehicle.validTo">

      <label>Net Trade Value</label>
      <input class="controls" type="number" name="netTradeValue" placeholder="Dollar Value" [(ngModel)]="tradeVehicle.netTradeValue">

		</div>

</div>