<div class="trade-vehicle-detail">

  <div class="">
		<h3 class="row blue-light">Trade In Vehicle Details</h3>
		<dl>
      <div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Year</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input class="controls full-length" type="number" name="year" placeholder="Year" 
							   [value]="tradeVehicleDetail.Year" (blur)="updateInputProperty('Year', $event)">
				</dd>
			</div>

      <div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Make</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input class="controls full-length" type="text" name="make" placeholder="Make" 
							   [value]="tradeVehicleDetail.Make" (blur)="updateInputProperty('Make', $event)">
				</dd>
			</div>

      <div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Model</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input class="controls full-length" type="text" name="model" placeholder="Model" 
							   [value]="tradeVehicleDetail.Model" (blur)="updateInputProperty('Model', $event)">
				</dd>
			</div>

      <div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Registration</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input class="controls full-length" type="text" name="registration" placeholder="Registration" 
							   [value]="tradeVehicleDetail.Registration" (blur)="updateInputProperty('Registration', $event)">
				</dd>
			</div>

      <div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Milage Unit</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input type="radio" class="controls" name="milageUnit" value="KM" 
								 (change)="updateInputProperty('MilageUnit', $event)"
								 checked> Kilometers
					<input type="radio" class="controls" name="milageUnit" value="MLs" 
								 (change)="updateInputProperty('MilageUnit', $event)"> Miles
				</dd>
			</div>

      <div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>RegistMilageration</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input class="controls full-length" type="text" name="Milage" placeholder="Milage" 
							   [value]="tradeVehicleDetail.Milage" (blur)="updateInputProperty('Milage', $event)">
				</dd>
			</div>

      <div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Trade Value</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input class="controls full-length" type=" number" name="TradeInValue" placeholder="$" 
							   [value]="tradeVehicleDetail.Value" (blur)="updateInputProperty('Value', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Settlement To</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input class="controls full-length" type=" number" name="SettlementValue" placeholder="$" 
							   [value]="tradeVehicleDetail.SettlementValue" (blur)="updateInputProperty('SettlementValue', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Balance</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input class="controls full-length" type=" number" name="Balance" placeholder="$" 
							   [value]="tradeVehicleDetail.Blance" (blur)="updateInputProperty('Balance', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Valid To</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input class="controls full-length" type=" number" name="validTo" placeholder="$" 
							   [value]="tradeVehicleDetail.ValidTo" (blur)="updateInputProperty('ValidTo', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Net Trade Value</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input class="controls full-length" type=" number" name="netValue" placeholder="$" 
							   [value]="tradeVehicleDetail.NetValue" (blur)="updateInputProperty('NetValue', $event)">
				</dd>
			</div>
		</dl>

  </div>  
</div>