<div class="container body-content fwui">
  <h1>Private Sale Agreement</h1>

  <div class="card actions text-xs-right">
    <button class="btn btn-outline-danger" type="button" (click)="delete()" *ngIf="!isNew">
			<i class="glyphicon glyphicon-align-left"></i> Delete
		</button>
    <button class="btn btn-link" type="button" (click)="backToPersonalApplicaiton()">
			<i class="glyphicon glyphicon-align-left"></i> Back
		</button>
    <button class="btn btn-success" type="button" (click)="save()">
			<i class="glyphicon glyphicon-align-left"></i> Save
		</button>
  </div>

  <div class="row">
    <div class="col-xs-12 center">
      <div class="card">
        <div class="card-block">


        </div>
      </div>
    </div>
  </div>
</div>