<div class="container body-content fwui login-page">

  <div class="login">
    <h1>Login</h1>
    <!--<form *ngSubmit="">-->
      <input type="email" id="Email" name="Email" placeholder="Email"
             [(ngModel)]="userName" required="required"/>
      <input type="password" name="Password" placeholder="Password"
             [(ngModel)]="password"  required="required"/>
      <button type="submit" class="btn btn-primary btn-block btn-large" 
              (click)="login()">Login</button>
    <!--</form>-->
  </div>


  <!--<h2>Log in.</h2>
  <div class="row">
    <div class="col-md-8">
      <section>

        <form method="post" class="form-horizontal" action="/Account/Login" novalidate="novalidate">
          <h4>Use a local account to log in.</h4>
          <hr>
          <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
            <ul>
              <li style="display:none"></li>
            </ul>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label" for="Email">Email</label>
            <div class="col-md-10">
              <input class="form-control" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address."
                data-val-required="The Email field is required." id="Email" name="Email" [(ngModel)]="userName">
              <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label" for="Password">Password</label>
            <div class="col-md-10">
              <input class="form-control" type="password" data-val="true" data-val-required="The Password field is required." id="Password"
                name="Password" [(ngModel)]="password">
              <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <div class="checkbox">
                <label for="RememberMe">
                                <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true">
                                Remember me?
                            </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <button type="button" (click)="login()" class="btn btn-default">Log in</button>
            </div>
          </div>
          <!--<p>
              <a href="/Account/Register">Register as a new user?</a>
            </p>
            <p>
              <a href="/Account/ForgotPassword">Forgot your password?</a>
            </p>-->
          <!--<input name="__RequestVerificationToken" type="hidden" value="CfDJ8Lb5dsKp2eFGtDvzwTgAcDMjJ2WpmwCLqAP4qaho4sG23TMkyFyQTaD5PQBnmml_a_rN44uNDKwMc4Ph-cmZrZ5iD6_uBreJZId5Y9Vje999d-9CxOtD0rU86B-E2s9lXMlM40SyGTv2YJxaDAZMvk0">
          <input name="RememberMe" type="hidden" value="false"></form>
      </section>
    </div>

    <!--<div class="col-md-4">
      <section>
        <h4>Use another service to log in.</h4>
        <hr>
        <div>
          <p>
            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>            for details on setting up this ASP.NET application to support logging in via external services.
          </p>
        </div>
      </section>
    </div>-->
  <!--</div>-->


  <!--<hr>-->
</div>


<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/site.js?v=EWaMeWsJBYWmL2g_KkgXZQ5nPe-a3Ichp0LEgzXczKo"></script>





<script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">(function (){return window.SIG_EXT={}})()</script>