<div class="col-xs-12">
  <!--*ngIf="note"-->
  <div class="time-line" *ngFor="let note of notes">
    <div class="visual col-xs-1">
      <div class="vertical-line top"></div>
       
      <div class="content">
        <i class="icon"></i>
      </div>

      <div class="vertical-line bottom"></div>  
    </div>

    <div class="detail col-xs-11">
      <div class="header">
        <span>{{note.UserName}}</span>
        <span>{{note.AddedAt}}</span>
      </div>
      <div class="content">
        {{note.Content}}
      </div>
    </div>
  </div>
</div>