<div class="col-xs-12 p-x-0">
  <!--*ngIf="note"-->

  <!--todo:sorting the time -->
  <div class="time-line" *ngFor="let note of notes; let isLast = last">
    <div class="visual col-xs-1">
      <div class="vertical-line top"></div>
       
      <div class="content">
        <i class="icon"></i>
      </div>

      <div *ngIf="!isLast" class="vertical-line bottom"></div>
      <!--<span>Is last: {{last}}</span>  -->
    </div>

    <div class="detail col-xs-11 p-x-0">
      <div class="header col-xs-12 p-x-1 p-y-1">
        <span>{{note.EnteredBy}}</span>
        <span class="pull-xs-right">Created at {{note.DateCreated | date: 'medium'}}</span>
      </div>
      <div class="content col-xs-12 p-x-1 p-y-1"
          [innerHTML]="note.Note">
      </div>
      <!--<div class="footer col-xs-12 p-x-1 p-y-1">
        <span class="pull-xs-right">Edited at {{note.DateModified | date:'medium'}}</span>
      </div>-->
    </div>
  </div>
</div>