<form class="card" action="">
	<div class="card-block">
		<div class="row">
			<div class="col-xs-10">
				<h4 class="blue-light">{{title}}</h4>
			</div>
			<div class="col-xs-2">
				<button class="btn btn-secondary" *ngIf="!expanded" (click)="toggleExpanded()">Show</button>
				<button class="btn btn-secondary" *ngIf="expanded" (click)="toggleExpanded()">Hide</button>
			</div>
		</div>
		<div class="personal-detail">
			<div *ngIf="expanded">
				<dl>
					<div class="row">
						<dt class="col-xs-4 controls">
							<label>First Name</label>
						</dt>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="firstName" placeholder="First Name" [value]="personalDetail.FirstName"
							 (blur)="updateInputProperty('FirstName', $event)">
						</dd>
					</div>

					<div class="row">
						<dt class="col-xs-4 controls">
							<label>Preferred Name</label>
						</dt>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="preferredName" placeholder="Preferred Name" [value]="personalDetail.PreferredName"
							 (blur)="updateInputProperty('PreferredName', $event)">
						</dd>
					</div>

					<div class="row">
						<dt class="col-xs-4 controls">
							<label>Middle Name</label>
						</dt>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="middleName" placeholder="Middle Name" [value]="personalDetail.MiddleName"
							 (blur)="updateInputProperty('MiddleName', $event)">
						</dd>
					</div>

					<div class="row">
						<dt class="col-xs-4 controls">
							<label>Last Name</label>
						</dt>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="lastName" placeholder="Last Name" [value]="personalDetail.LastName"
							 (blur)="updateInputProperty('LastName', $event)">
						</dd>
					</div>

					<div class="row">
						<dt class="col-xs-4 radio-line">
							<label>Gender</label>
						</dt>
						<dd class="col-xs-8 radio-line">
							<input type="radio" class="controls" name="gender" value="male" [(ngModel)]="personalDetail.Gender"> <span (click)="personalDetail.Gender='male'">Male</span>
							<input type="radio" class="controls" name="gender" value="female" [(ngModel)]="personalDetail.Gender"> <span (click)="personalDetail.Gender='female'">Female</span>
						</dd>
					</div>

					<fwui-date-picker [dateModel]="personalDetail.DateOfBirth" (dateModelChange)="updateProperty('DateOfBirth', $event)" label="Date of Birth"
					 placeHolder="DD/MM/YYYY">
					</fwui-date-picker>

					<div class="row">
						<dt class="col-xs-4 controls">
							<label>Origin Country</label>
						</dt>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="originCountry" placeholder="Origin Country" [(ngModel)]="personalDetail.originCountry">
						</dd>
					</div>

					<div class="row">
						<dt class="col-xs-4 radio-line">
							<label>NZ Resident</label>
						</dt>
						<dd class="col-xs-8 radio-line">
							<input type="radio" value="true" name="nzResident" [(ngModel)]="personalDetail.IsNzResident"> <span (click)="personalDetail.IsNzResident='true'">Yes</span>
							<input type="radio" value="false" name="nzResident" [(ngModel)]="personalDetail.IsNzResident"> <span (click)="personalDetail.IsNzResident='false'">No</span>
						</dd>
					</div>

					<div class="row" *ngIf="personalDetail.IsNzResident == false">
						<dt class="col-xs-4 radio-line">
							<label>Work Visa</label>
						</dt>
						<dd class="col-xs-8 radio-line">
							<input type="radio" name="workVisa" value="Yes" [(ngModel)]="personalDetail.IsWorkVisa"> <span (click)="personalDetail.IsNzResident='Yes'">Yes</span>
							<input type="radio" name="workVisa" value="No" [(ngModel)]="personalDetail.IsWorkVisa"> <span (click)="personalDetail.IsNzResident='No'">No</span>
						</dd>
					</div>

					<fwui-date-picker *ngIf="personalDetail.IsNzResident === false" [dateModel]="personalDetail.VisaExpiryDate" (dateModelChange)="updateProperty('VisaExpiryDate', $event)"
					 label="Visa Expiry Date" placeHolder="DD/MM/YYYY">
					</fwui-date-picker>

					<fwui-date-picker *ngIf="personalDetail.IsNzResident === false" [dateModel]="personalDetail.EntryDate" (dateModelChange)="updateProperty('EntryDate', $event)"
					 label="Entry Date" placeHolder="DD/MM/YYYY">
					</fwui-date-picker>

					<div class="row">
						<dt class="col-xs-4 radio-line">
							<label>Driver Licence Type</label>
						</dt>
						<dd class="col-xs-8 radio-line">
							<input type="radio" name="driverLicenceType" [(ngModel)]="personalDetail.DriverLicenceType" value="Full"> <span (click)="personalDetail.DriverLicenceType='Full'">Full</span>
							<input type="radio" name="driverLicenceType" [(ngModel)]="personalDetail.DriverLicenceType" value="Restricted"> <span (click)="personalDetail.DriverLicenceType='Restricted'">Restricted</span>
							<input type="radio" name="driverLicenceType" [(ngModel)]="personalDetail.DriverLicenceType" value="Learners"> <span (click)="personalDetail.DriverLicenceType='Learners'">Learners</span>
							<input type="radio" name="driverLicenceType" [(ngModel)]="personalDetail.DriverLicenceType" value="Overseas"> <span (click)="personalDetail.DriverLicenceType='Overseas'">Overseas</span>
							<input type="radio" name="driverLicenceType" [(ngModel)]="personalDetail.DriverLicenceType" value="None"> <span (click)="personalDetail.DriverLicenceType='None'">None</span>
						</dd>
					</div>

					<div *ngIf="personalDetail.DriverLicenceType === 'Overseas'" class="row">
						<dt class="col-xs-4 controls">
							<label>Overseas Licence</label>
						</dt>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="OverseasDiversLicence" placeholder="Overseas sDivers Licence" [value]="personalDetail.OverseasDiversLicence"
							 (blur)="updateInputProperty('OverseasDiversLicence', $event)">
						</dd>
					</div>

					<div class="row">
						<dt class="col-xs-4 controls">
							<label>Licence No. (5A)</label>
						</dt>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="licenceNumber" placeholder="Licence Number" [value]="personalDetail.LicenceNumberSa"
							 (blur)="updateInputProperty('LicenceNumberSa', $event)">
						</dd>
					</div>

					<div class="row">
						<dt class="col-xs-4 controls">
							<label>Licence No. (5B)</label>
						</dt>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="licenceNumberSb" placeholder="Licence Version" [value]="personalDetail.LicenceNumberSb"
							 (blur)="updateInputProperty('LicenceNumberSb', $event)">
						</dd>
					</div>

					<div class="row">
						<dt class="col-xs-4 controls">
							<label>Marital Status</label>
						</dt>
						<dd class="col-xs-8">
							<select name="maritalStatus" class="controls full-length" [value]="personalDetail.MaritalStatus" (blur)="updateInputProperty('MaritalStatus', $event)">
								<option value="Single">Single</option>
								<option value="Married">Married</option>
								<option value="Defacto">Defacto</option>
								<option value="Seperated">Seperated</option>
								<option value="Divorced">Divorced</option>
							</select>
						</dd>
					</div>

					<div class="row">
						<dt class="col-xs-4 controls">
							<label>No. Dependants</label>
						</dt>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="numOfDenpendants" placeholder="No. Dependants" [value]="personalDetail.NumOfDenpendants"
							 (blur)="updateInputProperty('NumOfDenpendants', $event)">
						</dd>
					</div>

					<div class="row">
						<dt class="col-xs-4 controls">
							<label>Mobile Phone</label>
						</dt>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="mobilePhoneNumber" placeholder="Mobile Phone" [value]="personalDetail.MobilePhoneNumber"
							 (blur)="updateInputProperty('MobilePhoneNumber', $event)">
						</dd>
					</div>

					<div class="row">
						<dt class="col-xs-4 controls">
							<label>Home Phone</label>
						</dt>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="homePhoneNumber" placeholder="Home Phone" [value]="personalDetail.HomePhoneNumber"
							 (blur)="updateInputProperty('HomePhoneNumber', $event)">
						</dd>
					</div>

					<div class="row">
						<dt class="col-xs-4 controls">
							<label>Business Phone</label>
						</dt>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="businessPhoneNumber" placeholder="Business Phone" [value]="personalDetail.BusinessPhoneNumber"
							 (blur)="updateInputProperty('BusinessPhoneNumber', $event)">
						</dd>
					</div>

					<div class="row">
						<dt class="col-xs-4 controls">
							<label>Personal Email</label>
						</dt>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="personalEmail" placeholder="Personal Email" [value]="personalDetail.PersonalEmail"
							 (blur)="updateInputProperty('PersonalEmail', $event)">
						</dd>
					</div>

					<div class="row">
						<dt class="col-xs-4 controls">
							<label>Business Email</label>
						</dt>
						<dd class="col-xs-8">
							<input class="controls full-length" type="text" name="businessEmail" placeholder="Business Email" [value]="personalDetail.BusinessEmail"
							 (blur)="updateInputProperty('BusinessEmail', $event)">
						</dd>
					</div>

					<div class="address">
						<div class="row">
							<dt class="col-xs-4 controls">
								<span class="subTitle">Current Address Details</span>
							</dt>
							<dd class="col-xs-8 text-right">
								<button class="btn btn-default" (click)="copyCurrentAddress()" *ngIf="showCopyFrom()">copy</button>
								<button class="btn btn-default" (click)="personalDetail.ShowAddress = false" *ngIf="personalDetail.ShowAddress">Hide</button>
								<button class="btn btn-default" (click)="personalDetail.ShowAddress = true" *ngIf="!personalDetail.ShowAddress">Show</button>
							</dd>
						</div>
						<div class="row" *ngIf="personalDetail.ShowAddress">
							<dt class="col-xs-4 controls">Residential Type: (select)</dt>
							<dd class="col-xs-8 pr-2">
								<select name="role" class="full-length" [value]="personalDetail.CurrentAddressType" (blur)="updateInputProperty('CurrentAddressType', $event)">
									<option value="OwnHome">Own Home</option>
									<option value="Renting">Renting</option>
									<option value="Boarding">Boarding</option>
									<option value="FamilyHouse">Family House</option>
									<option value="Other">Other</option>
								</select>
							</dd>
						</div>
						<div class="row" *ngIf="personalDetail.ShowAddress && personalDetail.CurrentAddressType === 'Other'">
							<dt class="col-xs-4 controls">Other:</dt>
							<dd class="col-xs-8 pr-2">
								<input class="controls full-length" type="text" name="region" placeholder="Current Address Type Other" [value]="personalDetail.CurrentAddressOther"
								 (blur)="updateInputProperty('CurrentAddressOther', $event)">
							</dd>
						</div>
						<fwui-address-finder [addressDetail]="personalDetail.CurrentAddress" *ngIf="personalDetail.ShowAddress" (changed)="currentAddressChanged($event)"></fwui-address-finder>
					</div>

					<div class="row" *ngIf="personalDetail.ShowAddress">
						<dt class="col-xs-4 p-x-0">
							<label>Years</label>
						</dt>
						<dd class="col-xs-8 p-x-0">
							<input class="controls full-length" type="number" placeholder="Number of years at this address" [value]="personalDetail.CurrentAddressYears"
							 (blur)="updateInputProperty('CurrentAddressYears', $event)">
						</dd>
					</div>

					<div class="row" *ngIf="personalDetail.ShowAddress">
						<dt class="col-xs-4 p-x-0">
							<label>Months</label>
						</dt>
						<dd class="col-xs-8 p-x-0">
							<input class="controls full-length" type="number" placeholder="Number of months at this address" [value]="personalDetail.CurrentAddressMonths"
							 (blur)="updateInputProperty('CurrentAddressMonths', $event)">
						</dd>
					</div>

					<div class="previous address" *ngIf="personalDetail.ShowAddress && displayPreviousAddress()">
						<h4 class="row col-xs-12">Previous Address Details</h4>

						<fwui-address-finder [addressDetail]="personalDetail.PreviousAddress" (blur)="updateInputProperty('PreviousAddress', $event)"></fwui-address-finder>
					</div>

					<div class="row" *ngIf="personalDetail.ShowAddress && displayPreviousAddress()">
						<dt class="col-xs-4 p-x-0">
							<label>Years</label>
						</dt>
						<dd class="col-xs-8 p-x-0">
							<input class="controls full-length" type="number" placeholder="Number of years at this address" [value]="personalDetail.PreviousAddressYears"
							 (blur)="updateInputProperty('PreviousAddressYears', $event)">
						</dd>
					</div>

					<div class="row" *ngIf="personalDetail.ShowAddress && displayPreviousAddress()">
						<dt class="col-xs-4 p-x-0">
							<label>Months</label>
						</dt>
						<dd class="col-xs-8 p-x-0">
							<input class="controls full-length" type="number" placeholder="Number of months at this address" [value]="personalDetail.PreviousAddressMonths"
							 (blur)="updateInputProperty('PreviousAddressMonths', $event)">
						</dd>
					</div>

					<div class="occupation">
						<div class="row">
							<dt class="col-xs-4 controls">
								<span class="subTitle">Occupation Details</span>
							</dt>
							<dd class="col-xs-8 text-right">
								<button class="btn btn-default" (click)="personalDetail.ShowOccupation = false" *ngIf="personalDetail.ShowOccupation">Hide</button>
								<button class="btn btn-default" (click)="personalDetail.ShowOccupation = true" *ngIf="!personalDetail.ShowOccupation">Show</button>
							</dd>
						</div>
						<fwui-personal-occupation *ngIf="personalDetail.ShowOccupation" [occupationDetail]="personalDetail.CurrentOccupation" (blur)="updateInputProperty('CurrentOccupation', $event)"></fwui-personal-occupation>
					</div>

					<div class="previous occupation" *ngIf="personalDetail.ShowOccupation && displayPreviousOccupation()">
						<h4 class="row col-xs-12">Previous Occupation Details</h4>
						<fwui-personal-occupation [occupationDetail]="personalDetail.PreviousOccupation" (blur)="updateInputProperty('PreviousOccupation', $event)"></fwui-personal-occupation>
					</div>
				</dl>
			</div>

		</div>
	</div>
</form>