<div class="container body-content fwui">
  <div class="row">
    <div class="row col-xs-12 center">
      <div class="row m-x-0">
        <label class="col-xs-4 p-x-0 controls">Type of transportation: </label>
        <select name="role" class="col-xs-8 off-card" [(ngModel)]="transportationForm.TransportType">
            <option value="Vehicle">Vehicle</option>
            <option value="Marine">Marine - Boat/Jetski</option>
            <option value="Motorcycle">Motorcycle</option>
        </select>
      </div>
      <!--<div class="row">
      <dt class="col-xs-4 p-x-0 controls">Type of transportation: </dt>
      <dd class="col-xs-8">
        
      </dd>
    </div>-->

      <div class="card">
        <div class="card-block">
          <fwui-vendor-detail [vendorDetail]="transportationForm.Vendor" 
                              (vendorDetailChange)="updateTransportationForm($event)">
          </fwui-vendor-detail>

          
          <fwui-financing-marine-detail *ngIf="transportationForm.Marine" [marineDetail]="transportationForm.Marine" 
                                        (marineDetailChange)="updateTransportationForm($event)">
          </fwui-financing-marine-detail>

          <hr>

          <fwui-trade-vehicle-detail [tradeVehicleDetail]="transportationForm.TradeVehicle" 
                                     (tradeVehicleChange)="updateTransportationForm($event)">
          </fwui-trade-vehicle-detail>

          <hr>

          <fwui-financing-vehicle-detail [vehicleDetail]="transportationForm.Vehicle" 
                                         (vehicleDetailChange)="updateTransportationForm($event)">
          </fwui-financing-vehicle-detail>

          <hr>

          <fwui-financing-motorcycle-detail [motorcycleDetail]="transportationForm.Motorcycle"
                                            (motorcycleDetailChange)="updateTransportationForm($event)">
          </fwui-financing-motorcycle-detail>

          <fwui-transport-financial-details [financialDetail]="transportationForm.FinancialDetail"
                                            (financialDetailChange)="updateTransportationForm($event)">
          </fwui-transport-financial-details>

          <hr>
        </div>
      </div>
    </div>
  </div>