<div class="container body-content fwui">
  <div class="row">
    <div class="col-xs-12 center">
      <div class="m-x-0">
        <label class="col-xs-4 p-x-0 controls">Type of transportation: </label>
        <select name="role" class="col-xs-8 off-card" [(ngModel)]="transportationForm.TransportType">
            <option value="Vehicle">Vehicle</option>
            <option value="Marine">Marine - Boat/Jetski</option>
            <option value="Motorcycle">Motorcycle</option>
        </select>
      </div>

      <div class="card">
        <div class="card-block">
          <fwui-vendor-detail [vendorDetail]="transportationForm.Vendor" 
                              (vendorDetailChange)="updateTransportationForm($event)">
          </fwui-vendor-detail>


          <fwui-financing-vehicle-detail *ngIf="transportationForm.TransportType === 'Vehicle'"
                                         [vehicleDetail]="transportationForm.Vehicle" 
                                         (vehicleDetailChange)="updateTransportationForm($event)">
          </fwui-financing-vehicle-detail>


          <!--<fwui-financing-marine-detail *ngIf="transportationForm.TransportType === 'Marine'" 
                                        [marineDetail]="transportationForm.Marine" 
                                        (marineDetailChange)="updateTransportationForm($event)">
          </fwui-financing-marine-detail>-->

          <fwui-financing-motorcycle-detail *ngIf="transportationForm.TransportType === 'Motorcycle'" 
                                            [motorcycleDetail]="transportationForm.Motorcycle"
                                            (motorcycleDetailChange)="updateTransportationForm($event)">
          </fwui-financing-motorcycle-detail>

          <fwui-transport-financial-details [financialDetail]="transportationForm.FinancialDetail"
                                            (financialDetailChange)="updateTransportationForm($event)">
          </fwui-transport-financial-details>
<!--
          <fwui-trade-vehicle-detail [tradeVehicleDetail]="transportationForm.TradeVehicle" 
                                     (tradeVehicleChange)="updateTransportationForm($event)">
          </fwui-trade-vehicle-detail>-->

          <!--<fwui-trade-marine-detail [tradeMarineDetail]="transportationForm.TradeVehicle" 
                                   (tradeMarineChange)="updateTransportationForm($event)">
          </fwui-trade-marine-detail>-->

        </div>
      </div>
    </div>
  </div>