<div class="container body-content fwui">
    <h1>Vehicle Form</h1>

  <div class="card actions text-xs-right">
    <button class="btn btn-outline-danger" type="button" (click)="delete()" *ngIf="!isNew">
			<i class="glyphicon glyphicon-align-left"></i> Delete
		</button>
    <button class="btn btn-link" type="button" (click)="backToPersonalApplicaiton()">
			<i class="glyphicon glyphicon-align-left"></i> Back
		</button>
    <button class="btn btn-success" type="button" (click)="save()">
			<i class="glyphicon glyphicon-align-left"></i> Save
		</button>
  </div>
  
  <div class="row">
    <div class="card">
      <div class="card-block">
        <fwui-vendor-detail [vendorDetail]="vehicleForm.Vendor" (vendorDetailChange)="updateVendor($event)">
        </fwui-vendor-detail>

        <div *ngFor="let financedVehicle of vehicleForm.FiancedVehicles; let i = index;">
          <fwui-financing-vehicle-detail [vehicleDetail]="financedVehicle" (vehicleDetailChange)="updateFinancedVehicle($event)">
          </fwui-financing-vehicle-detail>
        </div>

        <div *ngFor="let tradeInVehicle of vehicleForm.TradeInVehicles; let i = index;">
          <fwui-trade-vehicle-detail [tradeVehicleDetail]="tradeInVehicle" (tradeVehicleDetailChange)="updateTradeInVehicle($event)">
          </fwui-trade-vehicle-detail>
        </div>

        <fwui-transport-financial-details [financialDetail]="vehicleForm.FinancialDetail" (financialDetailChange)="updateFinanceDetails($event)">
        </fwui-transport-financial-details>

      </div>
    </div>
  </div>
</div>