<div class="card">
  <div class="card-block">
		<div class="row">
			<div class="col-xs-10">
                <h4 class="blue-light">Account References</h4>
			</div>
			<div class="col-xs-2">
				<button class="btn btn-secondary" *ngIf="!expanded" (click)="toggleExpanded()">Show</button>
				<button class="btn btn-secondary" *ngIf="expanded" (click)="toggleExpanded()">Hide</button>
			</div>
		</div>
    <div class="personal-account-reference row" *ngIf="expanded">
      <div class="col-xs-12">
        <hr/>
        <div>
          <div *ngFor="let reference of personalAccountReferences; let i = index;">
            <span class="counter">#{{i + 1}}</span><button class="btn btn-link" 
              *ngIf="i > 0" (click)="DeletePersonalAccountReference(i)">Delete</button>
            <fwui-personal-account-reference-detail 
              [personalAccountReferenceDetail]="reference" 
              (changed)="personalAccountReferenceDetailChanged($event)"
              >
            </fwui-personal-account-reference-detail>
          </div>
        <button class="btn btn-default" (click)="AddPersonalAccountReference()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>