<div class="address-finder">
	<div class="row">
		<input #searchInput class="controls search full-length" type="text" placeholder="type the address here to search" [(ngModel)]="placeSearch"
			(ngModelChange)="searchAddress()">
	</div>

	<div class="">
		<dl>
			<!--<div class="row">
				<dt class="col-xs-4 controls">
					<label>Street Number</label>
				</dt>
				<dd class="col-xs-8">
					<input class="controls full-length" type="text" name="streetNumber" placeholder="Street Number" [value]="addressDetail.StreetNumber">
				</dd>
			</div>-->

			<div class="row">
				<dt class="col-xs-4 controls">Street Name</dt>
				<dd class="col-xs-8">
					<input class="controls full-length" type="text" name="StreetName" placeholder="Street Name" [value]="addressDetail.StreetName">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 controls">Suburb</dt>
				<dd class="col-xs-8">
					<input class="controls full-length" type="text" name="postcode" placeholder="Suburb" [value]="addressDetail.Suburb">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 controls">Region / State</dt>
				<dd class="col-xs-8">
					<input class="controls full-length" type="text" name="region" placeholder="Region / State" [value]="addressDetail.State">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 controls">Country</dt>
				<dd class="col-xs-8">
					<input class="controls full-length" type="text" name="country" placeholder="Country" [value]="addressDetail.Country">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 controls">Post Code</dt>
				<dd class="col-xs-8">
					<input class="controls full-length" type="text" name="postcode" placeholder="Post Code" [value]="addressDetail.PostCode">
				</dd>
			</div>
		</dl>
	</div>
</div>