<h1>
  {{title}}

  <!--<button md-raised-button color='primary'>this is a magical button</button>

  <md-checkbox></md-checkbox>-->
</h1>

<h2>{{currentTime}}</h2>

<button class="btn btn-primary">test button</button>

<pre class="card card-block card-header">{{singleModel}}</pre>

<button type="button" class="btn btn-primary"
        [(ngModel)]="singleModel" btnCheckbox
        btnCheckboxTrue="1" btnCheckboxFalse="0">
  Single Toggle
</button>

<input type="text" [(ngModel)]="singleModel" />


<alert type="info">Hello from ng2-bootstrap  {{ date.toDateString() }}</alert>
<div style="display:inline-block; min-height:290px;">
  <datepicker [(ngModel)]="date" showWeeks="true"></datepicker>
</div>
