<fwui-app-header></fwui-app-header>

<fwui-app-navigation></fwui-app-navigation>
<!--<h1>
  {{title}}
</h1>

<h2>{{currentTime}}</h2>

<button class="btn btn-primary">test button</button>

<pre class="card card-block card-header">{{singleModel}}</pre>

<button type="button" class="btn btn-primary"
        [(ngModel)]="singleModel" btnCheckbox
        btnCheckboxTrue="1" btnCheckboxFalse="0">
  Single Toggle
</button>

<input type="text" [(ngModel)]="singleModel" />


<alert type="info">Hello from ng2-bootstrap  {{ date.toDateString() }}</alert>
<div style="display:inline-block; min-height:290px;">
  <datepicker [(ngModel)]="date" showWeeks="true"></datepicker>
</div>-->

<router-outlet></router-outlet>

<fwui-app-footer></fwui-app-footer>