<div class="financing-motorcycle-detail">
	<div>
	<h3 class="row blue-light">Motorcycle Details</h3>
		<dl>
			<div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Purchase Type</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input type="radio" class="controls" name="purchaseType" value="Purchase" 
								 (change)="updateInputProperty('PurchaseType', $event)"
								 checked> Purchase
					<input type="radio" class="controls" name="purchaseType" value="Lease" 
								 (change)="updateInputProperty('PurchaseType', $event)"> Deal
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0">
					<label>Price</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="Price" placeholder="$" 
							   [value]="motorcycleDetail.Price" (blur)="updateInputProperty('Price', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Condition</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input type="radio" class="controls" name="motorcycleCondition" value="New" 
								 (change)="updateInputProperty('Condition', $event)"
								 checked> New
					<input type="radio" class="controls" name="motorcycleCondition" value="Used" 
								 (change)="updateInputProperty('Condition', $event)"> Used
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Imported</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input type="radio" class="controls" name="motorcycleCondition" value="New" 
								 (change)="updateInputProperty('Imported', $event)"
								 checked> Yes
					<input type="radio" class="controls" name="marineCondition" value="Used" 
								 (change)="updateInputProperty('Imported', $event)"> No
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0">
					<label>Year</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="number" name="year" placeholder="" 
							   [value]="motorcycleDetail.Year" (blur)="updateInputProperty('Year', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0">
					<label>Make</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="make" placeholder="" 
							   [value]="motorcycleDetail.Make" (blur)="updateInputProperty('Make', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0">
					<label>Model</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="model" placeholder="" 
							   [value]="motorcycleDetail.Model" (blur)="updateInputProperty('Model', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0">
					<label>Engine Size</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="EnginSize" placeholder="Engine Size" 
							   [value]="motorcycleDetail.EnginSize" (blur)="updateMotorInputProperty('EnginSize', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0">
					<label>Colour</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="Colour" placeholder="Colour" 
							   [value]="motorcycleDetail.Colour" (blur)="updateMotorInputProperty('Colour', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0">
					<label>Registration</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="registration" placeholder="Registration" 
							   [value]="motorcycleDetail.Registration" (blur)="updateInputProperty('Registration', $event)">
				</dd>
			</div>

      <div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Milage Unit</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input type="radio" class="controls" name="milageUnit" value="KM" 
								 (change)="updateInputProperty('MilageUnit', $event)"
								 checked> Kilometers
					<input type="radio" class="controls" name="milageUnit" value="MLs" 
								 (change)="updateInputProperty('MilageUnit', $event)"> Miles
				</dd>
			</div>

      <div class="row">
				<dt class="col-xs-4 p-x-0">
					<label>Milage</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="Milage" placeholder="Milage" 
							   [value]="motorcycleDetail.Milage" (blur)="updateInputProperty('Milage', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0">
					<label>VIN</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="VehicleIdentificationNumber" placeholder="Vehicle Identification Number" 
							   [value]="motorcycleDetail.VehicleIdentificationNumber" (blur)="updateInputProperty('VehicleIdentificationNumber', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Motorcycle Type</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<select name="role" class="col-xs-8" [value]="motorcycleDetail.Type" 
							(select)="updateInputProperty('Type', $event)">
            <option value="RoadBike">Road Bike</option>
            <option value="OffRoadBike">Off Road Bike</option>
            <option value="QuadBike">Quad Bike</option>
      		</select>
				</dd>
			</div>
			
		</dl>	
		
	</div>

</div>