<div class="container body-content fwui">
  <h1>Deals</h1>

  <div class="row">

    <div class="col-md-12">
      <div class="actions">

        <!--todo: make the search query only fires after 300 to 400 milliseconds-->

        <div class="search">
          <input type="text" [formControl]="searchTerm" 
                 class="form-control" placeholder="Search by deal number, customer number or name, driver license or mobile">
        </div>

        <!--<div class="buttons text-md-right">
          <button type="button" class="btn btn-success" (click)="addDeal()">
            <i name="add" class="icon icon-plus">
              <img src="assets/images/icons/ic_add_white_24px.svg">
            </i>
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Add deal
          </button>
        </div>-->

        <!--<span class="input-group-btn">
          <button class="btn btn-default" type="button" >Search</button>
        </span>-->
      </div>
    </div>
  </div>

  <fwui-working-display *ngIf="working"></fwui-working-display>

  <swui-datatable *ngIf="!working"
        class="material"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="42"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="count"
        [offset]="offset"
        [limit]="pageSize"
        [loadingIndicator]="loading"
        [selectionType]="'single'"
        (select)='onSelect($event)'
        (sort)="onSort($event)"
        (page)='onPage($event)'>
        <!--<swui-datatable-column name="DateCreated">
          <ng-template let-column="column" swui-datatable-header-template>
            Holla! {{column.name}}
          </ng-template>
          <ng-template let-value="value" swui-datatable-cell-template>
            Hi: <strong>{{value}}</strong>
          </ng-template>
        </swui-datatable-column>
        <swui-datatable-column name="Number">
        </swui-datatable-column>-->
  </swui-datatable>

      
  <!--<datatable
    class='material'
    [rows]='rows'
    [options]='options'
    (onSelectionChange)='onSelectionChange($event)'
    (onPageChange)='onPageChange($event)'>
  </datatable>-->
  
  <!--<table class="table table-striped">
    <thead>
      <tr>
        <th>Deals Number</th>
        <th>Deal Status</th>
        <th>Date Created</th>
        <th>Customer Name</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let deal of rows">
        <td><a [routerLink]="['/deal', deal.Id]">{{deal.Number}}</a></td>
        <td>{{deal.DealStatus}}</td>
        <td>{{deal.DateCreated}}</td>
        <td>{{deal.CustomerName}}</td>
      </tr>
    </tbody>
  </table>-->

</div>