<div class="container body-content fwui">
  <h1>Reports</h1>

  <div class="row">
    <div class="col-md-12">
      <a href="reporting/monthly-totals">Monthly Totals</a>
    </div>
  </div>


      <!--<div class="actions">

        <div class="search">
          <input type="text" [formControl]="searchTerm" class="form-control" placeholder="Search by name, email or mobile">
        </div>

        <div class="buttons text-md-right">
          <button type="button" class="btn btn-success" (click)="addNew()">
            <i name="add" class="icon icon-plus">
              <img src="assets/images/icons/ic_add_white_24px.svg">
            </i>
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> New Application
          </button>
        </div>
      </div>-->

</div>