<div class="personal-account-reference-detail">
  <dl>
    <div class="row">
      <dt class="col-xs-4 p-x-0">
        <label>Name</label>
      </dt>
      <dd class="col-xs-8 p-x-0">
        <input class="controls full-length" type="text" name="Name" placeholder="Name of the reference"           
           [(ngModel)]="personalAccountReferenceDetail.Name"
          (blur)="updated()">
      </dd>
    </div>

    <div class="row">
      <dt class="col-xs-4 p-x-0">
        <label>Type</label>
      </dt>
      <dd class="col-xs-8 p-x-0">
        <input class="controls full-length" type="text" name="Type" placeholder="Enter type name here" 
          [(ngModel)]="personalAccountReferenceDetail.Type"
          (blur)="updated()">
      </dd>
    </div>

    <div class="row">
      <dt class="col-xs-4 p-x-0">
        <label>Reference</label>
      </dt>
      <dd class="col-xs-8 p-x-0">
        <input class="controls full-length" type="text" name="Reference" placeholder="eg, Account Number"
          [(ngModel)]="personalAccountReferenceDetail.Reference" 
          (blur)="updated()">
      </dd>
    </div>
  </dl>
</div>