<div class="container body-content fwui">
  <button class="btn btn-success" type="button" (click)="save()">
    <span class="glyphicon glyphicon-align-left"></span> Save
  </button>
  <button class="btn btn-success" type="button" (click)="delete()">
    <span class="glyphicon glyphicon-align-left"></span> Delete
  </button>

<!--todo: other unused property-->
<!--DateModified-->

<!--todo: understand that following property-->
<!--DealershipClawbackNotes-->
<!--AssignedToId-->

<!--todo: find out what the rest of the property do-->
<!--Number (Might be Cash manager reference?)-->
<!--OtherInsuranceNote (can't find this in the excel file)-->
  <div class="row">
    <div class="col-xs-5">
      <div class="card">
        <div class="card-block">
          <dl>
            <div>
              <dt>Customer Id (Name in future) *</dt>
              <dd>
                <input [(ngModel)]="deal.CustomerId" type="text" class="" required>
              </dd>
            </div>

            <div>
              <dt>Cash Manager Reference *</dt>
              <dd>
                <input [(ngModel)]="deal.CashManagerReference" type="text" class="" required>
              </dd>
            </div>

            <div>
              <dt>Date Created</dt>
              <dd>
                <input [(ngModel)]="deal.DateCreated" type="text" class="">
              </dd>
            </div>

            <div>
              <dt>Deal Status</dt>
              <dd>
                <input [(ngModel)]="deal.DealStatus" type="text" class="">
              </dd>
            </div>

          </dl>
        </div>
      </div>

      <div class="card contact-details">
        <div class="card-block">
          <dl>
            <div>
              <dt>Security Description</dt>
              <dd>
                <input [(ngModel)]="deal.SecurityDescription" type="text" class="">
              </dd>
            </div>

            <div>
              <dt>SourceId</dt>
              <dd>
                <input [(ngModel)]="deal.SourceId" type="text" class="">
              </dd>
            </div>

            <div>
              <dt>Finance Company Id</dt>
              <dd>
                <input [(ngModel)]="deal.FinanceCompanyId" type="text" class="">
              </dd>
            </div>
          </dl>
        </div>
      </div>


      <div class="card contact-details">
        <div class="card-block">
          <dl>
            <div>
              <dt>Term In Months</dt>
              <dd>
                <input [(ngModel)]="deal.TermInMonths" type="text" class="">
              </dd>
            </div>

            <div>
              <dt>Rate</dt>
              <dd>
                <input [(ngModel)]="deal.Rate" type="text" class="">
              </dd>
            </div>

            <div>
              <dt>Finance Volume</dt>
              <dd>
                <input [(ngModel)]="deal.FinanceVolume" type="text" class="">
              </dd>
            </div>

            <div>
              <dt>Commission</dt>
              <dd>
                <input [(ngModel)]="deal.Commission" type="text" class="">
              </dd>
            </div>

            <div>
              <dt>DocumentationFee</dt>
              <dd>
                <input [(ngModel)]="deal.DocumentationFee" type="text" class="">
              </dd>
            </div>

            <div>
              <dt>GuaranteedAssetProtection</dt>
              <dd>
                <input [(ngModel)]="deal.GuaranteedAssetProtection" type="text" class="">
              </dd>
            </div>

            <div>
              <dt>MechanicalBreakDownInsurance</dt>
              <dd>
                <input [(ngModel)]="deal.MechanicalBreakDownInsurance" type="text" class="">
              </dd>
            </div>

            <div>
              <dt>OtherInsurance</dt>
              <dd>
                <input [(ngModel)]="deal.OtherInsurance" type="text" class="">
              </dd>
            </div>

            <div>
              <dt>DealershipCommission</dt>
              <dd>
                <input [(ngModel)]="deal.DealershipCommission" type="text" class="">
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!--<div class="card bank-details">
        <div class="card-block">
          <dl>
            <div>
              <dt>BankAccountName</dt>
              <dd>
                <input [(ngModel)]=deal.BankAccountName type="text" class="">
              </dd>
            </div>
            <div>
              <dt>BankAccountNumber</dt>
              <dd>
                <input [(ngModel)]="deal.BankAccountNumber" type="text" class="">
              </dd>
            </div>
            <div>
              <dt>BankBranchName</dt>
              <dd>
                <input [(ngModel)]="deal.BankBranchName" type="text" class="">
              </dd>
            </div>
            <div>
              <dt>BankingCompany</dt>
              <dd>
                <input [(ngModel)]="deal.BankingCompany" type="text" class="">
              </dd>
            </div>
          </dl>
        </div>
      </div>-->

      
    </div>

    <div class="col-xs-7">
      
      <div class="editor">
        <textarea class="note" id="test"></textarea>
      </div>

      <div class="history">
        <fwui-time-line [notes]="notes" [myText]="myText"></fwui-time-line>
      </div>

    </div>
  </div>

</div>