<div class="container body-content fwui">

  <!--todo: other unused property-->
  <!--DateModified-->

  <!--todo: understand that following property-->
  <!--DealershipClawbackNotes-->
  <!--AssignedToId-->

  <!--todo: find out what the rest of the property do-->
  <!--Number (Might be Cash manager reference?)-->
  <!--OtherInsuranceNote (can't find this in the excel file)-->

  <div class="card actions text-xs-right">
    <button class="btn btn-outline-danger" type="button" (click)="delete()">
      <span class="glyphicon glyphicon-align-left"></span> Delete
    </button>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <div class="card">
        <div class="card-block">
          <dl>
            <div class="row">
              <!--todo: (Name in future)-->
              <dt class="col-xs-4 p-x-0 controls">Customer *</dt>
              <dd class="col-xs-8 p-x-0 controls">
                <input *ngIf="!deal.CustomerId" class="controls" [(ngModel)]="deal.CustomerId" 
                       (ngModelChange)="basicInfoChanged = true"
                       placeholder="Customer Id" type="text" required>

                <a class="controls m-x-1" *ngIf="deal.CustomerId" [routerLink]="['/customer', deal.CustomerId]">{{customerName}}</a>
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Cash Manager Reference *</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.CashManagerReference" 
                       (ngModelChange)="basicInfoChanged = true"
                       placeholder="Reference Number" 
                       type="text" class="controls" required>
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Date Created</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.DateCreated" 
                       (ngModelChange)="basicInfoChanged = true"
                       placeholder="Date created" 
                       type="text" class="controls">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Deal Status</dt>
              <dd class="col-xs-8">
                <select name="DealStatus" [(ngModel)]="deal.DealStatus" 
                        (ngModelChange)="basicInfoChanged = true">
                  <option selected disabled hidden>Choose here</option>
                  <option *ngFor="let status of DealStatusSelections" [value]="status.Id">{{status.Name}}</option>
                </select>      
              </dd>
            </div>

          </dl>
        </div>

        <div *ngIf="basicInfoChanged" class="actions text-xs-center">
          <button type="button" class="btn btn-success" (click)="save()">Save</button>
          <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        </div>
      </div>

      <div class="card contact-details">
        <div class="card-block">
          <dl>
            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Security Description</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.SecurityDescription" 
                       (ngModelChange)="descriptionChanged = true"
                       placeholder="Description" type="text" class="controls">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Dealer</dt>
              <dd class="col-xs-8">
                <select name="Dealership" [(ngModel)]="deal.SourceDealershipId"
                        (ngModelChange)="descriptionChanged = true">
                  <option selected disabled hidden>Choose here</option>
                  <option *ngFor="let dealer of dealers" [value]="dealer.Id">{{dealer.Name}}</option>
                </select>
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Finance Company</dt>
              <dd class="col-xs-8">
                <select name="FinanceCompany" [(ngModel)]="deal.FinanceCompanyId"
                        (ngModelChange)="descriptionChanged = true">
                  <option selected disabled hidden>Choose here</option>
                  <option *ngFor="let financeCompany of financeCompanies" [value]="financeCompany.Id">
                    {{financeCompany.Name}}
                  </option>
                </select>
              </dd>
            </div>
          </dl>
        </div>

        <div *ngIf="descriptionChanged" class="actions text-xs-center">
          <button type="button" class="btn btn-success" (click)="save()">Save</button>
          <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        </div>
        
      </div>


      <div class="card contact-details">
        <div class="card-block">
          <dl>
            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Term In Months</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.TermInMonths" 
                       (ngModelChange)="financeChanged = true"
                       placeholder="Months" type="number" class="controls">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Rate (%)</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.Rate" 
                       (ngModelChange)="financeChanged = true"
                       placeholder="Rate" type="percentage" class="controls">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Finance Volume</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.FinanceVolume" 
                       (ngModelChange)="financeChanged = true"
                       placeholder="Volume" type="number" class="controls">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Commission</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.Commission" 
                       (ngModelChange)="calculateGrossIncome()"
                       placeholder="Commission" type="currency" class="controls">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Documentation  Fee</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.DocumentationFee" 
                       (ngModelChange)="calculateGrossIncome()"
                       placeholder="Fee" type="currency" class="controls">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls" title="Payment Protection Insurance">P.P.I</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.PaymentProtectionInsurance" 
                       (ngModelChange)="calculateGrossIncome()"
                       placeholder="Fee" type="currency" class="controls">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls" title="Guaranteed Asset Protection">G.A.P</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.GuaranteedAssetProtection" 
                       (ngModelChange)="calculateGrossIncome()"
                       placeholder="Asset" type="currency" class="controls">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls" title="Mechanical Break Down Insurance">M.B.I</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.MechanicalBreakDownInsurance" 
                       (ngModelChange)="calculateGrossIncome()"
                       placeholder="Mechnical Insurance" type="currency" class="controls">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Insurance</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.Insurance" 
                       (ngModelChange)="calculateGrossIncome()"
                       placeholder="Insurance" type="currency" class="controls">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Other</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.Other" 
                       (ngModelChange)="calculateGrossIncome()"
                       placeholder="Other" type="currency" class="controls">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Gross Income</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.GrossIncome" 
                       placeholder="Gross Income" type="currency" class="controls" [readonly]="true">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Dealership Commission</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.DealershipCommission" 
                       (ngModelChange)="calculateGrossIncome()"
                       placeholder="Dealership Commission" type="currency" class="controls">
              </dd>
            </div>

            <div class="row">
              <dt class="col-xs-4 p-x-0 controls">Net Income</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.NetIncome" 
                       placeholder="Net Income" type="currency" class="controls" [readonly]="true">
              </dd>
            </div>
          </dl>
        </div>

        <div *ngIf="financeChanged" class="actions text-xs-center">
          <button type="button" class="btn btn-success" (click)="save()">Save</button>
          <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        </div>
      </div>

      <!--<div class="card bank-details">
        <div class="card-block">
          <dl>
            <div>
              <dt class="col-xs-4 p-x-0 controls">BankAccountName</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]=deal.BankAccountName type="text" class="controls">
              </dd>
            </div>
            <div>
              <dt class="col-xs-4 p-x-0 controls">BankAccountNumber</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.BankAccountNumber" type="text" class="controls">
              </dd>
            </div>
            <div>
              <dt class="col-xs-4 p-x-0 controls">BankBranchName</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.BankBranchName" type="text" class="controls">
              </dd>
            </div>
            <div>
              <dt class="col-xs-4 p-x-0 controls">BankingCompany</dt>
              <dd class="col-xs-8">
                <input [(ngModel)]="deal.BankingCompany" type="text" class="controls">
              </dd>
            </div>
          </dl>
        </div>
      </div>-->

      
    </div>

    <div class="col-xs-7">
      
      <div class="column">
        <textarea class="note col-xs-12" id="test" [(ngModel)]="note"
                  (ngModelChange)="noteChanged = true" 
                  placeholder="Write notes here" 
                  rows="6"></textarea>

        <div *ngIf="noteChanged" class="actions text-xs-center col-xs-12">
          <button class="btn btn-success" type="button" (click)="addNote(note)">
            <span class="glyphicon glyphicon-align-left"></span> Save
          </button>
          <button type="button" class="btn btn-default" (click)="clearNote()">Cancel</button>
        </div>
      </div>

      <div class="history">
        <fwui-time-line [notes]="notes" [myText]="myText"></fwui-time-line>
      </div>

    </div>
  </div>

</div>