<div class="container body-content fwui">
  <!--<input *ngIf="config.filtering" placeholder="Filter"
       [ngTableFiltering]="config.filtering"
       (tableChanged)="onChangeTable(config)"/>

  <ng-table [config]="config.sorting"
            (tableChanged)="onChangeTable(config, $event)"
            [rows]="rows" [columns]="columns">
  </ng-table>-->
  <!--<pagination *ngIf="config.paging"
              class="pagination-sm"
              [(ngModel)]="page"
              [totalItems]="length"
              [itemsPerPage]="itemsPerPage"
              [maxSize]="maxSize"
              [boundaryLinks]="true"
              [rotate]="false"
              (pageChanged)="onChangeTable(config, $event)"
              (numPages)="numPages = $event">
  </pagination>-->

  <!--<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>-->

  <!--<datatable
    class='material'
    [rows]='rows'
    [selected]='selections'
    [options]='options'
    (onSelectionChange)='onSelectionChange($event)'>
  </datatable>-->

  <div class="row">
    <div class="col-md-12">
      <div class="actions">

        <!--todo: make the search query only fires after 300 to 400 milliseconds-->

        <div class="search">
          <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="searchCustomer(searchQuery)" class="form-control" placeholder="customer number, name or mobile">
        </div>

        <div class="buttons text-md-right">
          <button type="button" class="btn btn-success" (click)="addCustomer()">
            <i name="add" class="icon icon-plus">
              <img src="assets/images/icons/ic_add_white_24px.svg">
            </i>
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Add customer
          </button>
        </div>

        <!--<span class="input-group-btn">
          <button class="btn btn-default" type="button" >Search</button>
        </span>-->
      </div>

      <!--<button type="button" 
              class="btn btn-danger" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="icon-user icon-white"></i> Delete
      </button>-->

      <!--<input type="text" class="form-control" placeholder="">
      <button type="button" class="btn btn-default">Search</button>-->
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Customer Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Mobile</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let customer of rows">
        <td><a [routerLink]="['/customer', customer.Id]">{{customer.Number}}</a></td>
        <td>{{customer.FirstName}}</td>
        <td>{{customer.LastName}}</td>
        <td>{{customer.Email}}</td>
        <td>{{customer.CellCountry}} {{ customer.CellArea }} {{ customer.CellNumber }}</td>
      </tr>
    </tbody>
  </table>

  <!--<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <h4 class="modal-title">Large modal</h4>
        </div>
        <div class="modal-body">
          Test
        </div>
      </div>
    </div>
  </div>-->


</div>