<div class="container body-content fwui">
  <!--<input *ngIf="config.filtering" placeholder="Filter"
       [ngTableFiltering]="config.filtering"
       (tableChanged)="onChangeTable(config)"/>

  <ng-table [config]="config.sorting"
            (tableChanged)="onChangeTable(config)"
            [rows]="rows" [columns]="columns">
  </ng-table>-->
  <!--<pagination *ngIf="config.paging"
              class="pagination-sm"
              [(ngModel)]="page"
              [totalItems]="length"
              [itemsPerPage]="itemsPerPage"
              [maxSize]="maxSize"
              [boundaryLinks]="true"
              [rotate]="false"
              (pageChanged)="onChangeTable(config, $event)"
              (numPages)="numPages = $event">
  </pagination>-->
  <!--<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>-->

  <div class="row">
    <div class="col-md-12">
      <div class="actions">

        <!--todo: make the search query only fires after 300 to 400 milliseconds-->

        <div class="search">
          <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="searchDealership(searchQuery)" class="form-control" placeholder="customer number, name or mobile">
        </div>

        <div class="buttons text-md-right">
          <button type="button" class="btn btn-success" (click)="addDealership()">
            <i name="add" class="icon icon-plus">
              <img src="assets/images/icons/ic_add_white_24px.svg">
            </i>
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Add deal
          </button>
        </div>

        <!--<span class="input-group-btn">
          <button class="btn btn-default" type="button" >Search</button>
        </span>-->
      </div>

      <!--<button type="button" 
              class="btn btn-danger" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="icon-user icon-white"></i> Delete
      </button>-->

      <!--<input type="text" class="form-control" placeholder="">
      <button type="button" class="btn btn-default">Search</button>-->
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Dealership Name</th>
        <th>Contact Name</th>
        <th>Phone</th>
        <th>Mobile</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let dealership of rows">
        <td><a [routerLink]="['/dealership', dealership.Id]"> {{dealership.Name}} </a></td>
        <td>{{dealership.ContactName}}</td>
        <td>{{ dealership.PhoneCountry }} {{ dealership.PhoneArea }} {{ dealership.PhoneNumber }}</td>
        <td>{{ dealership.CellCountry }} {{ dealership.CellArea }} {{ dealership.CellNumber }}</td>
        <td>{{ dealership.Email}}</td>
      </tr>
    </tbody>
  </table>
</div>