@import '../../../assets/styles/color';

.card {
    overflow: auto;
}

.media img{
     padding: 0;
     width: 58px;
     height: 58px;
}

input{
    // margin: 0;
    // padding: 0;
    &.country {
        width: 2.5em;
    }

    &.area {
        width: 2.5em;
    }

    &.number {
        width: 8em;
    }
    &.name {
        width: auto;
        max-width: 6em;
        margin-bottom: 1em; 
    }
    &.email {
        margin-bottom: 1em;
    }
}

dt {
    text-align: right;
}

.note {
    width: 100%;
}

.counter{
    font-weight: bold;
    font-size: 1.25em;
}

.bold{
    font-weight: bold;
}

.signatureLabel{
    @extend .bold;
    font-size: 1.25em;
}

.underLinedArea{
    border-bottom: 1px solid;
}