<div class="container body-content fwui">
  <h1>Personal Applications</h1>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">

        <div class="search">
          <input type="text" [formControl]="searchTerm" class="form-control" placeholder="Search by name, email or mobile">
        </div>

        <div class="buttons text-md-right">
          <button type="button" class="btn btn-success" (click)="addNew()">
            <i name="add" class="icon icon-plus">
              <img src="assets/images/icons/ic_add_white_24px.svg">
            </i>
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> New Application
          </button>
        </div>
      </div>
    </div>
  </div>
  <fwui-working-display *ngIf="working"></fwui-working-display>
  <div *ngIf="!working">
    <swui-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="42" [footerHeight]="50"
      [rowHeight]="'auto'" [externalPaging]="true" [count]="count" [offset]="offset" [limit]="pageSize" [loadingIndicator]="loading"
      [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)' (sort)="onSort($event)" (page)='onPage($event)'>
    </swui-datatable>
  </div>
  <!--<datatable
    class='material'
    [rows]='rows'
    [options]='options'
    (onSelectionChange)='onSelectionChange($event)'
    (onPageChange)='onPageChange($event)'>
  </datatable>-->

<!--(activate)="onActivate($event)"-->
</div>