<div class="financing-vehicle-detail">

	<div class="">
		<h3 class="row blue-light">Vehicle Details</h3>
		<dl>
			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Purchase Type</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input type="radio" class="controls" name="purchaseType" value="Purchase" 
								 (change)="updateInputProperty('PurchaseType', $event)"
								 checked> Purchase
					<input type="radio" class="controls" name="purchaseType" value="Lease" 
								 (change)="updateInputProperty('PurchaseType', $event)"> Deal
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Price</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="Price" placeholder="$" 
							   [value]="vehicleDetail.Price" (blur)="updateInputProperty('Price', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Condition</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input type="radio" class="controls" name="marineCondition" value="New" 
								 (change)="updateInputProperty('Condition', $event)"
								 checked> New
					<input type="radio" class="controls" name="marineCondition" value="Used" 
								 (change)="updateInputProperty('Condition', $event)"> Used
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Imported</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input type="radio" class="controls" name="marineCondition" value="True" 
								 (change)="updateInputProperty('Imported', $event)"
								 checked> Yes
					<input type="radio" class="controls" name="marineCondition" value="False" 
								 (change)="updateInputProperty('Imported', $event)"> No
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Year</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="number" name="year" placeholder="year" 
							   [value]="vehicleDetail.Year" (blur)="updateInputProperty('Year', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Make</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="make" placeholder="make" 
							   [value]="vehicleDetail.Make" (blur)="updateInputProperty('Make', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Model</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="model" placeholder="model" 
							   [value]="vehicleDetail.Model" (blur)="updateInputProperty('Model', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Engine Size</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="EngineSize" placeholder="Engine Size" 
							   [value]="vehicleDetail.EngineSize" (blur)="updateMotorInputProperty('EngineSize', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Colour</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="Colour" placeholder="Colour" 
							   [value]="vehicleDetail.Colour" (blur)="updateMotorInputProperty('Colour', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Registration</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="registration" placeholder="Registration" 
							   [value]="vehicleDetail.Registration" (blur)="updateInputProperty('Registration', $event)">
				</dd>
			</div>

      <div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Milage Unit</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input type="radio" class="controls" name="milageUnit" value="KM" 
								 (change)="updateInputProperty('MilageUnit', $event)"
								 checked> Kilometers
					<input type="radio" class="controls" name="milageUnit" value="MLs" 
								 (change)="updateInputProperty('MilageUnit', $event)"> Miles
				</dd>
			</div>

      <div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Milage</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="Milage" placeholder="Milage" 
							   [value]="vehicleDetail.Milage" (blur)="updateInputProperty('Milage', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>VIN</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="VehicleIdentificationNumber" placeholder="Vehicle Identification Number" 
							   [value]="vehicleDetail.VehicleIdentificationNumber" (blur)="updateInputProperty('VehicleIdentificationNumber', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Vehicle Type</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<select name="role" class="col-xs-8" [value]="vehicleDetail.VehicleType" 
							(select)="updateInputProperty('VehicleType', $event)">
            <option value="Sedan">Sedan</option>
            <option value="Wagon">Wagon</option>
            <option value="Hatch">Hatch</option>
						<option value="Coup">Coup</option>
						<option value="Utility">Utility</option>
      		</select>
				</dd>
			</div>
			
		</dl>
	</div>

</div>