<div class="financing-marine-detail">

	<div class="">
		<h3 class="row blue-light">Marine Details</h3>
		<dl>
			<div class="row">
				<dt class="col-xs-4 p-x-0 radio-line">
					<label>Marine Type</label>
				</dt>
				<dd class="col-xs-8 p-x-0 radio-line">
					<input type="radio" class="controls" name="marineType" value="Boat" 
								 (change)="updateInputProperty('MarineType', $event)"
								 checked> Boat
					<input type="radio" class="controls" name="marineType" value="Jetski" 
								 (change)="updateInputProperty('MarineType', $event)"> Jetski
				</dd>
			</div>
			
			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Price</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="price" placeholder="$" 
							   [value]="marineDetail.Price" (blur)="updateInputProperty('Price', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Condition</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input type="radio" class="controls" name="marineCondition" value="New" 
								 (change)="updateInputProperty('Condition', $event)"
								 checked> New
					<input type="radio" class="controls" name="marineCondition" value="Used" 
								 (change)="updateInputProperty('Condition', $event)"> Used
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Year</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="number" name="year" placeholder="Year" 
							   [value]="marineDetail.Year" (blur)="updateInputProperty('Year', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Make</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="make" placeholder="Make" 
							   [value]="marineDetail.Make" (blur)="updateInputProperty('Make', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Model</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="model" placeholder="Model" 
							   [value]="marineDetail.Model" (blur)="updateInputProperty('Model', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Hull Serial No.</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="hullSerialNumber" placeholder="Hull Serial Number" 
							   [value]="marineDetail.HullSerialNumber" (blur)="updateInputProperty('HullSerialNumber', $event)">
				</dd>
			</div>

			<hr>

		</dl>
	</div>

</div>