<div class="financing-marine-detail">

	<div class="">
		<h3 class="row blue-light">Marine Details</h3>
		<dl>
			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Marine Type</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<span *ngFor="let option of marineTypes">
						<input type="radio" class="controls" name="marineType" [(ngModel)]="marineDetail.MarineType" 
						[value]="option.value">
						{{option.display}}					
					</span>
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Price</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="price" placeholder="$" [value]="marineDetail.Price" (blur)="updateInputProperty('Price', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Condition</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<span *ngFor="let option of conditionOptions">
						<input type="radio" class="controls" name="marineCondition" [(ngModel)]="marineDetail.Condition" 
						[value]="option.value">
						{{option.display}}					
					</span>
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Year</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="number" name="year" placeholder="Year" [value]="marineDetail.Year" (blur)="updateInputProperty('Year', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Make</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="make" placeholder="Make" [value]="marineDetail.Make" (blur)="updateInputProperty('Make', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Model</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="model" placeholder="Model" [value]="marineDetail.Model" (blur)="updateInputProperty('Model', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Hull Serial No.</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="hullSerialNumber" placeholder="Hull Serial Number" [value]="marineDetail.HullSerialNumber"
					 (blur)="updateInputProperty('HullSerialNumber', $event)">
				</dd>
			</div>

			<hr>

		</dl>
	</div>

</div>