@import '../../../../assets/styles/main';

$sideNavBarWidth: $topNavBarHeight;

div.left-side {
    // background-color: orange;
    width: $topNavBarHeight;
    background: #353e49;
    white-space: nowrap;
    position: fixed;
    left: 0;
    top: $topNavBarHeight;
    height: 100%;   
    border-radius: 0;
    padding: 10px 0 10px 0;
    z-index: 1000;
    
    li a {
        text-align: center;
        position: relative;
        display: block;
        padding: 10px;

        &:hover, &.active {
            background-color: black;
            // color: white;
            border-left: 3px solid skyblue;
        }

        &:hover span {
            visibility: visible;
        }
        
        span {
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
            background: skyblue;
            color: white;
            height: 44px;
            line-height: 32px;
            width: auto;
            padding: 5px 16px 5px 16px;
            text-align: left;
            visibility: hidden;
        }
    }

    li i {
        display: block;
        font-size: 24px;
        color: white;
        // height: $sideNavBarWidth;
        // width: $sideNavBarWidth;
    }


    // li.nav-item.home i {
        
    //     background: url("assets/images/icons/ic_home_white_24px.svg"), none;
    // }

    // li.nav-item.customer {
    //     background: url("assets/images/icons/ic_person_white_24px.svg"), none;
    // }

    // li.nav-item.dealer {
    //     background: url("assets/images/icons/ic_library_books_white_24px.svg"), none;
    // }

    // li.nav-item.deal {
    //     background: url("assets/images/icons/ic_work_white_24px.svg"), none;
    // }
}