<div id="page-leftbar" class="navbar navbar-dark left-side">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item home ">
      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-home"></i>
      </a>
    </li>
    <li class="nav-item customer">
      <a [routerLink]="['/customer']" routerLinkActive="active">
        <i class="fa fa-user"></i>
      </a>
    </li>
    <li class="nav-item deal">
      <a [routerLink]="['/deal']" routerLinkActive="active">
        <i class="fa fa-file-text"></i>
      </a>
    </li>
    <li class="nav-item dealer">
      <a [routerLink]="['/dealer']" routerLinkActive="active">
        <i class="dealer fa fa-building"></i>
      </a>
    </li>
  </ul>
</div>
