// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// $gray-dark:                 #373a3c !default;
$gray-dark:                 blue !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;
$gray-my-lightest:          #f2f4f5 !default;

$blue:                      #0091EA !default;
$blue-light:                #40C4FF !default;

$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;

$input-text-color:          #3c3c3c !default;
$normal-content-color:      #8c8c8c !default;
$header-link-color:         white !default;
$off-card-color:            white !default;
