@import './color';

html, body {
    height: 100vh;
}


body {
    background: $gray-my-lightest;
}

.body-content.fwui {
    margin-top: 88px;
    position: relative;
    color: $normal-content-color;
    // background-color: $brand-primary;
}

.btn-default {
    color: #333;
    background-color: transparent;
    border-color: $gray-light;
}

.controls {
    padding: 0.4em 0.5em;
}

h1, h2, h3, h4 {
    color: $gray-light;
    margin-bottom: 1.5em;
}