@import './color';

$border-thickness: 2px;

input[type='text'], input[type='number'], input[type='percentage'] {
    border: transparent solid $border-thickness;
    color: $input-text-color;
    width: 100%;

    &:focus{
        outline: none;
        border-bottom: $blue-light solid $border-thickness;
    }

    &.empty {

    }

    &:placeholder-shown {
        background-color: $gray-lightest;
    }

    &.full-length {
        width: 100%;
    } 
}

input[type="radio"] {
    margin: 0.4em 0.5em;
}

textarea.note {

}

select{
    /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
    color: $input-text-color;
    border: 0;
    background: $gray-lightest;
    border-radius: 0;
    height: 38px;
    width: 100%;

    &.full-length {
        width: 100%;
    }

    &.off-card {
        background: $off-card-color;
    }
}