@import './color';

input {
    border: 0;
    color: $input-text-color;
    width: 100%;

    &:focus{
        outline: none;
        border-bottom: $blue-light solid 2px;
    }

    &.empty {

    }

    &:placeholder-shown {
        background-color: $gray-lightest;
    }

    &.full-length {
        width: 100%;
    } 
}

textarea.note {

}

select{
    /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
    color: $input-text-color;
    border: 0;
    background: $gray-lightest;
    border-radius: 0;
    height: 38px;

    &.full-length {
        width: 100%;
    }

    &.off-card {
        background: $off-card-color;
    }
}