@import './color';

body {
    background: $gray-my-lightest;
}

.body-content.fwui {
    margin-top: 88px;
    position: relative;
    // background-color: $brand-primary;
}

.btn-default {
    color: #333;
    background-color: transparent;
    border-color: $gray-light;
}