@import './color';

input {
    border: 0;
    color: $input-text-color;

    &:focus{
        outline: none;
        border-bottom: $blue-light solid 2px;
    }

    &.empty {

    }

    &:placeholder-shown {
        background-color: $gray-lightest;
    } 
}

textarea.note {

}