<div class="fwui-date-picker">

  <div class="row">
    <dt class="col-xs-4 p-x-0 controls">
      <label>{{label}}</label>
    </dt>

    <dd class="col-xs-8 p-x-0 picker-content">
      <input class="controls full-length" [(ngModel)]="dateModel" 
             (focus)="showPopup()" (blur)="hidePopup()" placeholder="{{placeHolder}}" />
             
      <datepicker class="popup" *ngIf="showDatepicker" [(ngModel)]="dateModel" 
                  [showWeeks]="true" (selectionDone)="updateValue($event)"></datepicker>
    </dd>
  </div>

</div>