@import '../../../../assets/styles/custom';

.fwui-date-picker {
  display: inline-block;
  .picker-content{
    position: relative;

    .popup {
      position: absolute;
      background-color: #fff;
      border-radius: 3px;
      border: 1px solid #ddd;
      height: 251px;
      top: 40px;
      left: 0px;
      z-index: $zindex-dropdown-backdrop;
    }
  }
}

