<div class="financing-marine-motor-detail">

	<div class="">
		<h3 class="row blue-light">Motor Details</h3>
		<dl>
			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Mortor Price</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="TrailerPrice" placeholder="Motor Price" 
							   [value]="marineMotorDetail.Price" (blur)="updateMotorInputProperty('Price', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Condition</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input type="radio" class="controls" name="motorCondition" value="New" 
								 (change)="updateMotorInputProperty('Condition', $event)"
								 checked> New
					<input type="radio" class="controls" name="motorCondition" value="Used" 
								 (change)="updateMotorInputProperty('Condition', $event)"> Used
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Type</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input type="radio" class="controls" name="motorType" value="Outboard" 
								 (change)="updateMotorInputProperty('Type', $event)"
								 checked> Outboard
					<input type="radio" class="controls" name="motorType" value="Sterndrive" 
								 (change)="updateMotorInputProperty('Type', $event)"> Sterndrive
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Mortor Year</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="motorYear" placeholder="Year" 
							   [value]="marineMotorDetail.Year" (blur)="updateMotorInputProperty('Year', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Make</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="motorMake" placeholder="Motor Make" 
							   [value]="marineMotorDetail.Make" (blur)="updateMotorInputProperty('Make', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Model</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="motorModel" placeholder="Motor Model" 
							   [value]="marineMotorDetail.Model" (blur)="updateMotorInputProperty('Model', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Engine Size</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="motorEngineSize" placeholder="Engine Size" 
							   [value]="marineMotorDetail.EngineSize" (blur)="updateMotorInputProperty('EngineSize', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Engine Serial No.</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="motorEngineSerialNumber" placeholder="Engine Serial Number" 
							   [value]="marineMotorDetail.EngineSerialNumber" (blur)="updateMotorInputProperty('EngineSerialNumber', $event)">
				</dd>
			</div>

			<hr>
		</dl>
	</div>

</div>