<div class="financing-marine-motor-detail">

	<div class="">
		<h3 class="row blue-light">Motor Details</h3>
		<dl>
			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Mortor Price</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="TrailerPrice" placeholder="Motor Price" 
							   [value]="marineMotorDetail.Price" (blur)="updateInputProperty('Price', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Condition</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<span *ngFor="let option of ['New', 'Used']">
						<input type="radio" class="controls" name="motorCondition" [(ngModel)]="marineMotorDetail.Condition" 
						[value]="option">
						{{option}}					
					</span>
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Type</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<span *ngFor="let option of ['Outboard', 'Sterndrive']">
						<input type="radio" class="controls" name="motorType" [(ngModel)]="marineMotorDetail.Type" 
						[value]="option">
						{{option}}					
					</span>
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Mortor Year</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="motorYear" placeholder="Year" 
							   [value]="marineMotorDetail.Year" (blur)="updateInputProperty('Year', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Make</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="motorMake" placeholder="Motor Make" 
							   [value]="marineMotorDetail.Make" (blur)="updateInputProperty('Make', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Model</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="motorModel" placeholder="Motor Model" 
							   [value]="marineMotorDetail.Model" (blur)="updateInputProperty('Model', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Engine Size</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="motorEngineSize" placeholder="Engine Size" 
							   [value]="marineMotorDetail.EngineSize" (blur)="updateInputProperty('EngineSize', $event)">
				</dd>
			</div>

			<div class="row">
				<dt class="col-xs-4 p-x-0 controls">
					<label>Engine Serial No.</label>
				</dt>
				<dd class="col-xs-8 p-x-0">
					<input class="controls full-length" type="text" name="motorEngineSerialNumber" placeholder="Engine Serial Number" 
							   [value]="marineMotorDetail.EngineSerialNumber" (blur)="updateInputProperty('EngineSerialNumber', $event)">
				</dd>
			</div>

			<hr>
		</dl>
	</div>

</div>